/*!
 * -------------------------------------
 * Web Skin Peripheral CSS for Browser Upgrade Layout
 * ---
 * MSIE Support: 6
 * Touch UI Support: false
 * ---
 * Requires
 *   web-skin Core CSS for MSIE 8
 *   web-skin Libs JS for MSIE
 * ---
 * Copyright 2014 Workiva
 * -------------------------------------
 */
/**
 * Checks whether `$functions` exist in global scope.
 *
 * @access private
 *
 * @param {ArgList} $functions - list of functions to check for
 *
 * @return {Bool} Whether or not there are missing dependencies
 */
/**
 * Compares `$a` and `$b` based on `$order`.
 *
 * @access private
 *
 * @param {*}       $a      - first value
 * @param {*}       $b      - second value
 * @param {List}    $matrix - alphabetical order
 *
 * @return {Bool}
 */
/**
 * Returns truthiness of `$value`.
 *
 * @access private
 *
 * @param {*} $value - value to check
 *
 * @return {Bool}
 */
/**
 * Check whether value is a number
 *
 * @access private
 *
 * @param {*} $value - value to run test against
 *
 * @return {Bool}
 */
/**
 * Chunks `$list` into `$size` large lists.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-chunk
 *
 * @param {List}   $list  - list to chunk
 * @param {Number} $size  - length of lists
 *
 * @throws $size is not a number for `sl-chunk`.
 *
 * @requires sl-to-list
 *
 * @example
 * sl-chunk(a b c d e, 2)
 * // a b, c d, e
 *
 * @return {List | Null}
 */
/**
 * Initialize an empty comma-separated list.
 * 
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-comma-list
 *
 * @example
 * sl-comma-list()
 * // ()
 *
 * @return {List}
 */
/**
 * Returns whether `$list` contains `$value`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-contain
 *
 * @param {List}    $list  - list to check
 * @param {*}       $value - value to look for
 *
 * @example
 * sl-contain(a b c, a)
 * // true
 *
 * @example
 * sl-contain(a b c, z)
 * // false
 *
 * @return {Bool}
 */
/**
 * @requires sl-contain
 * @alias sl-contain
 */
/**
 * Counts the number of occurrences of each value of `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-count-values
 *
 * @param {List} $list - list to count values from
 *
 * @example
 * sl-count-values(a b c a)
 * // (a: 2, b: 1, c: 1) 
 *
 * @return {Map} Values mapped to their count
 */
/**
 * Returns `$list` as a string, prettified if `$pre` is set to true.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-debug
 *
 * @param {List}   $list          - list to debug
 * @param {Bool}   $pre   (false) - enable/disable variables type and proper indentation
 * @param {Number} $level (1)     - internal variable for recursion
 *
 * @requires sl-is-empty
 * @requires sl-is-single
 * @requires sl-has-multiple-values
 * 
 * @example
 * sl-debug(a b c)
 * // '("a", "b", "c")'
 *
 * @return {String}
 */
/**
 * Mixin displaying clean debug
 *
 * @param {List} $list - list
 *
 * @requires sl-debug
 */
/**
 * Tests whether all items from `$list` pass the test implemented by `$function`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-every
 *
 * @param {List}    $list     - list to run test against
 * @param {String}  $function - function to run against every item from list
 * @param {ArgList} $args     - extra arguments to pass to the function
 *
 * @example
 * sl-every(1 2 3, unitless)
 * // true
 *
 * @example
 * sl-every(1 2 3px, unitless)
 * // false
 *
 * @return {Bool}
 */
/**
 * Explodes `$string` into a list using `$delimiter` as a delimiter.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-explode
 *
 * @param {String} $string              - string to explode
 * @param {String} $delimiter ('')      - string to use as a delimiter
 * @param {String} $separator ('space') - list separator
 *
 * @throws $string is not a string for `sl-explode`.
 * @throws $delimiter is not a string for `sl-explode`.
 *
 * @example
 * sl-explode(abc)
 * // a b c
 *
 * @example
 * sl-explode(abc, b)
 * // a c
 * 
 * @return {List | Null}
 */
/** Returns first element of `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-first
 *
 * @param {List} $list - list to retrieve first item from
 *
 * @throws Cannot find first item of empty list.
 *
 * @requires sl-is-empty
 *
 * @example
 * sl-first(a b c)
 * // a
 *
 * @example
 * sl-first(a)
 * // a
 *
 * @example
 * sl-first(())
 * // null
 * 
 * @return {*}
 */
/**
 * @requires sl-first
 * @alias sl-first
 */
/**
 * Turns multidimensional `$list` into a one-level list.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#flatten
 *
 * @param {List} $list - list to flatten
 * 
 * @requires sl-has-multiple-values
 *
 * @example
 * sl-flatten(a b c, d e f, g h i)
 * // a b c d e f g h i
 *
 * @return {List}
 */
/** 
 * @requires sl-flatten
 * @alias sl-flatten
 */
/** Tests whether `$list` is not empty.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-has-values
 *
 * @param {List} $list - list to run test against
 *
 * @example 
 * sl-has-values(a)
 * // true
 *
 * @example 
 * sl-has-values(())
 * // false
 * 
 * @return {Bool}
 */
/**
 * Tests whether `$list` has at least 2 values.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-has-multiple-values
 *
 * @param {List} $list - list to run test against
 *
 * @example 
 * sl-has-multiple-values(a)
 * // false
 *
 * @example 
 * sl-has-multiple-values(a b)
 * // true
 * 
 * @return {Bool}
 */
/** Adds `$value` at `$index` in `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-insert-nth
 *
 * @requires sl-is-true
 *
 * @param {List}    $list  - list to update
 * @param {Number}  $index - index to add
 * @param {*}       $value - value to add
 *
 * @throws List index $index is not a number for `sl-insert-nth`.
 * @throws List index $index must be a non-zero integer for `sl-insert-nth`.
 *
 * @example
 * sl-insert-nth(a b c, 2, z)
 * // a z b c
 *
 * @example
 * sl-insert-nth(a b c, 42, z)
 * // a b c z
 *
 * @example 
 * sl-insert-nth(a b c, -42, z)
 * // null
 * 
 * @return {List | Null}
 */
/**
 * Returns a list of shared value from `$list` and `$lists` minus duplicates.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-intersection
 *
 * @requires sl-remove-duplicates
 * @requires sl-to-list
 *
 * @param {List}    $list  - first list
 * @param {ArgList} $lists - other lists
 *
 * @example
 * sl-intersection(a b c, b e d, a c b)
 * // b
 * 
 * @return {List}
 */
/** 
 * Tests whether `$list` is empty.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-is-empty
 *
 * @param {List} $list - list to run test against
 *
 * @example
 * sl-is-empty(())
 * // true
 *
 * @example
 * sl-is-empty(a)
 * // false
 *
 * @return {Bool}
 */
/**
 * @requires sl-is-empty
 * @alias sl-is-empty
 */
/**
 * Tests whether `$list` has a single item.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-is-single
 *
 * @param {List} $list - list to run test against
 *
 * @example
 * sl-is-single(())
 * // false
 *
 * @example
 * sl-is-single(a)
 * // true
 *
 * @example
 * sl-is-single(a b)
 * // false
 *
 * @return {Bool}
 */
/**
 * Checks whether `$list` is symmetrical.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-is-symmetrical
 *
 * @requires sl-reverse
 *
 * @param {List} $list - list to check
 *
 * @example
 * sl-is-symmetrical(a b c)
 * // false
 *
 * 
 * @example
 * sl-is-symmetrical(a b a)
 * // true
 *
 * @return {Bool}
 */
/**
 * @requires sl-is-symmetrical
 * @alias sl-is-symmetrical
 */
/**
 * Returns last element of `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-last
 *
 * @param {List} $list - list to retrieve last value from
 *
 * @throws Cannot find last item of empty list.
 *
 * @requires sl-is-empty
 *
 * @example
 * sl-last(a b c)
 * // c
 * 
 * @example
 * sl-last(a)
 * // a
 *
 * @example
 * sl-last(())
 * // null
 * 
 * @return {*}
 */
/**
 * Returns last index of `$value` in `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-last-index
 *
 * @param {List} $list  - list to search
 * @param {*}    $value - value to be searched for
 *
 * @example
 * sl-last-index(a b a, a)
 * // 3
 *
 * @example
 * sl-last-index(a b a, z)
 * // null
 *
 * @return {Number | Null}
 */
/**
 * Shift indexes from `$list` of `$value`.
 *
 * @author Ana Tudor
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-loop
 *
 * @param {List}   $list      - list to update
 * @param {Number} $value (1) - number of position between old and new indexes
 *
 * @throws $value is not a number for `loop`.
 *
 * @requires sl-has-multiple-values
 *
 * @example
 * sl-loop(a b c)
 * // c a b
 * 
 * @example
 * sl-loop(a b c, 2)
 * // b c a
 *
 * @return {List | Null}
 */
/**
 * @requires sl-loop
 * @alias sl-loop
 */
/**
 * Adds `$value` as first index of `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-prepend
 *
 * @requires sl-is-true
 * @requires sl-to-list
 *
 * @param {List} $list  - list to preprend value to
 * @param {*}    $value - value to prepend to the list
 *
 * @example
 * sl-prepend(a b c, z)
 * // z a b c
 * 
 * @return {List}
 */
/** Removes all false and null values from `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#purge
 *
 * @requires sl-is-true
 * @requires sl-to-list
 *
 * @param {List} $list - list to purge
 *
 * @example
 * sl-purge(null a false b)
 * // a b
 *
 * @return {List}
 */
/**
 * @requires sl-purge
 * @alias sl-purge
 */
/**
 * Returns a random value of `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#random-value
 *
 * @param {List} $list - list to random value from
 *
 * @throws Cannot find a random value in an empty list.
 *
 * @requires sl-is-empty
 *
 * @example
 * sl-random-value(a b c)
 * // a
 * 
 * @return {*}
 */
/**
 * @requires sl-random-value
 * @alias sl-random-value
 */
/**
 * @requires sl-random-value
 * @alias sl-random-value
 */
/**
 * Build a list of values from 1 through `$n`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-range
 *
 * @param {Number} $n - maximum value
 *
 * @throws `$n` is not a number for `sl-range`.
 * @throws `$n` is not unitless for `sl-range`.
 * @throws `$n` is not greater than 0 for `sl-range`.
 *
 * @example
 * sl-range(5)
 * // 1 2 3 4 5
 *
 * @example
 * sl-range(1)
 * // 1
 *
 * @example
 * sl-range(-42)
 * // null
 *
 * @return {List | Number | Null}
 */
/**
 * Removes value(s) `$value` from `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-remove
 *
 * @requires sl-replace
 *
 * @param {List}    $list      - list to update
 * @param {*}       $value     - value to remove
 *
 * @example
 * sl-remove(a b c, a)
 * // b c
 *
 * @return {List}
 */
/**
 * @requires sl-remove
 * @alias sl-remove
 */
/**
 * Removes duplicate values from `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-remove-duplicates
 *
 * @param {List} $list - list to remove duplicates from
 *
 * @requires sl-to-list
 *
 * @example
 * sl-remove-duplicates(a b a b)
 * // a b
 *
 * @return {List}
 */
/**
 * @requires sl-remove-duplicates
 * @alias sl-remove-duplicates
 */
/**
 * Removes value from `$list` at index `$index`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-remove-nth
 *
 * @requires sl-replace-nth
 *
 * @param {List}   $list  - list to remove value from
 * @param {Number} $index - index to remove
 *
 * @example
 * sl-remove-nth(a b c, 2)
 * // a c
 *
 * @example
 * sl-remove-nth(a b c, 42)
 * // null
 *
 * @return {List | Null}
 */
/**
 * @requires sl-remove-nth
 * @alias sl-remove-nth
 */
/**
 * Replaces `$old` by `$new` in `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#replace
 *
 * @requires sl-is-true
 * @requires sl-purge
 * @requires sl-to-list
 *
 * @param {List}    $list  - list to update
 * @param {*}       $old   - value to replace
 * @param {*}       $value - new value for $old
 *
 * @example
 * sl-replace(a b c, b, z)
 * // a z c
 *
 * @example
 * sl-replace(a b c, y, z)
 * // a b c
 * 
 * @return {List}
 */
/**
 * Replaces value at `$index` from `$list` by `$value`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-replace-nth
 *
 * @requires sl-purge
 * @requires sl-is-true
 * @requires sl-to-list
 *
 * @param {List}   $list  - list to update
 * @param {Number} $index - index to update
 * @param {*}      $value - new value for index
 *
 * @throws Invalid index $index for `sl-replace-nth`.
 *
 * @example
 * sl-replace-nth(a b c, 2, z)
 * // a z c
 *
 * @example
 * sl-replace-nth(a b c, 100, z)
 * // null
 *
 * @return {List | Null}
 */
/**
 * Reverses the order of `$list`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-reverse
 *
 * @param {List} $list - list to reverse
 *
 * @requires sl-to-list
 *
 * @example
 * sl-reverse(a b c)
 * // c b a
 * 
 * @return {List}
 */
/**
 * @requires sl-reverse
 * @alias sl-reverse
 */
/**
 * Shuffle `$list` using Fisher-Yates method.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-shuffle
 *
 * @param {List} $list - list to shuffle
 *
 * @requires sl-to-list
 * 
 * @example
 * sl-shuffle(a b c)
 * // b a c
 * 
 * @return {List}
 */
/**
 * @requires sl-shuffle
 * @alias sl-shuffle
 */
/**
 * Slices `$list` between `$start` and `$end`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-slice
 *
 * @param {List}   $list                  - list to slice
 * @param {Number} $start (1)             - start index
 * @param {Number} $end   (length($list)) - end index
 *
 * @throws List indexes $start and $end must be numbers for `sl-slice`.
 * @throws Start index has to be lesser than or equals to the end index for `sl-slice`.
 * @throws List indexes must be non-zero integers for `sl-slice`.
 * @throws Start index has to be lesser than or equal to list length for `sl-slice`.
 * @throws End index has to be lesser than or equal to list length for `sl-slice`.
 * 
 * @example
 * sl-slice(a b c d e, 2, 4)
 * // b c d
 *
 * @example
 * sl-slice(a b c d e, 2, 2)
 * // b
 *
 * @example
 * sl-slice(a b c d e, 4, 2)
 * // null
 *
 * @example
 * sl-slice(a b c d e, -1, 6)
 * // null
 * 
 * @return {List | Null}
 */
/**
 * Sorts values of `$list` using quick-sort algorithm using `$order`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-sort
 *
 * @requires sl-str-compare
 * @requires sl-has-multiple-values
 * @requires sl-to-list
 *
 * @param {List} $list  - list to sort
 * @param {List} $order - order to respect
 *
 * @example
 * sl-sort(b a c)
 * // a b c
 *
 * @example
 * sl-sort(3 5 1)
 * // 1 3 5 
 *
 * @return {List}
 */
/**
 * @requires sl-sort
 * @alias sl-sort
 */
/**
 * Tests whether some items from `$list` pass the test implemented by `$function`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-some
 *
 * @param {List}    $list     - list to run test against
 * @param {String}  $function - function to run against every item from list
 * @param {ArgList} $args     - extra arguments to pass to the function
 *
 * @example
 * sl-some(1 2 3, unitless)
 * // true
 *
 * @example
 * sl-some(1 2 3px, unitless)
 * // true
 *
 * @example
 * sl-some(1px 2px 3px, unitless)
 * // false
 *
 * @return {Bool}
 */
/**
 * Sums up all numeric values in `$list`, stripping unit if `$force` set to `true`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-sum
 *
 * @param {List} $list          - list
 * @param {Bool} $force (false) - enable/disable parseInt
 *
 * @requires sl-every
 * @requires sl-is-number
 *
 * @throws All items from list are not numbers for `sl-sum`.
 *
 * @example
 * sl-sum(1 2 3)
 * // 6
 *
 * @example
 * sl-sum(a b 1)
 * null
 *
 * @example
 * sl-sum(1 2 3px, true)
 * // 6
 * 
 * @return {Number}
 */
/**
 * Returns the tail of `$list`: all items except the first (head).
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-tail
 *
 * @requires sl-slice
 *
 * @param {List} $list - list to retrieve tail from
 *
 * @example
 * sl-tail(a b c)
 * // b c 
 *
 * @return {List | Null}
 */
/**
 * @requires sl-tail
 * @alias sl-tail
 */
/**
 * Casts `$value` into a list.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-to-list
 *
 * @param {*} $value - value to cast to list
 * @param {String} $separator (space) - separator to use
 *
 * @example
 * sl-to-list(a b c, comma)
 * // a, b, c
 * 
 * @return {List}
 */
/**
 * @requires sl-to-list
 * @alias sl-to-list
 */
/**
 * Casts `$list` into a map, using indexes as keys (starting with `$start`).
 * Useful for iterating through a list with an index variable.
 * e.g. `@each $index, $value in to-map($list)`
 *
 * @author Andrey "Lolmaus" Mikhaylov
 * @author Chris Eppstein
 * 
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-to-map
 * 
 * @param {List} $list - list to turn into map
 *
 * @requires sl-range
 * @requires sl-is-empty
 * 
 * @throws List cannot be empty for `sl-to-map`.
 *
 * @example
 * sl-to-map(a b c)
 * // 1 a, 2 b, 3 c
 * 
 * @return {Map | Null}
 */
/**
 * @requires sl-to-map
 * @alias sl-to-map
 */
/**
 * @requires sl-to-map
 * @alias sl-to-map
 */
/**
 * Joins all elements of `$list` with `$glue`.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-to-string
 *
 * @param {List}   $list      - list to cast
 * @param {String} $glue ('') - value to use as a join string
 *
 * @requires sl-has-multiple-values
 * @requires sl-last
 * 
 * @example
 * sl-to-string(a b c)
 * // abc
 *
 * @example
 * sl-to-string(a b c, '-')
 * // a-b-c
 * 
 * @return {String}
 */
/**
 * @requires sl-to-string
 * @alias sl-to-string
 */
/**
 * Returns a list of values from `$lists` minus duplicates.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-union
 *
 * @requires sl-flatten
 * @requires sl-remove-duplicates
 *
 * @param {ArgList} $lists - lists to unify
 *
 * @example
 * sl-union(a b c, b e d, a c b)
 * // a b c e d
 * 
 * @return {List}
 */
/**
 * @requires sl-union
 * @alias sl-union
 */
/**
 * Apply `$function` to every item from `$list` passing $args as parameters.
 *
 * @ignore Documentation: http://sassylists.com/documentation.html#sl-walk
 *
 * @param {List}    $list     - list to update
 * @param {String}  $function - function to call on each value
 * @param {ArgList} $args     - optional function arguments
 *
 * @throws There is no `$function` function for `sl-walk`.
 *
 * @requires sl-to-map
 * @requires sl-to-list
 *
 * @example
 * sl-walk(a b c, to-upper-case)
 * // A B C
 *
 * @return {List | Null}
 */
/* line 72, browser-upgrade/*.png */
.browser-upgrade-sprite, .browser-link.chrome .browser-logo, .browser-link.firefox .browser-logo, .browser-link.safari .browser-logo, .browser-link.msie .browser-logo {
  background-image: url('../../img/browser-upgrade-s96005be9b0.png');
  background-repeat: no-repeat;
}

/* line 18, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-upgrade-container {
  margin-top: 1em;
}

/* line 22, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-upgrade-masthead .lead {
  padding: 0 15px;
  margin-bottom: 30px;
  font-size: 18px;
  clear: both;
}

/* line 29, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-upgrade-benefits {
  padding: 0 15px;
  max-width: 570px;
  margin: 0 auto;
}

/* line 35, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-upgrade-heading {
  padding: 0 15px;
  margin-bottom: 1em;
  font-size: 30px;
  color: #339900;
}

/* line 42, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-list {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 280px;
}
/* line 53, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-list .list-group-item {
  text-align: center;
  background: #f8f8f8;
  overflow: hidden;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  padding: 0;
  border-radius: 0 !important;
}
/* line 67, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-list .list-group-item.first-group-item {
  -moz-border-radius-topleft: 4px !important;
  -webkit-border-top-left-radius: 4px !important;
  border-top-left-radius: 4px !important;
  -moz-border-radius-topright: 4px !important;
  -webkit-border-top-right-radius: 4px !important;
  border-top-right-radius: 4px !important;
}
/* line 70, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-list .list-group-item.last-group-item {
  -moz-border-radius-bottomleft: 4px !important;
  -webkit-border-bottom-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
  -moz-border-radius-bottomright: 4px !important;
  -webkit-border-bottom-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
}
/* line 74, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-list .list-group-item.browsers-best {
  background: #f3f3f3;
}

/* line 80, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-group-heading {
  color: #66cc00;
  position: relative;
}
/* line 85, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-group-heading.is-empty {
  visibility: hidden;
}

/* line 90, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-link {
  display: block;
  padding-top: 63.38px;
  padding-bottom: 20px;
  margin-top: -53.38px;
}
/* line 97, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-link + .browser-link {
  padding-top: 10px;
  margin-top: 0;
}
/* line 102, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-link, .browser-link .browser-name {
  color: #595959;
}
/* line 106, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-link:hover, .browser-link:focus {
  background-color: #ebebeb;
}
/* line 108, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-link:hover, .browser-link:hover .browser-name, .browser-link:focus, .browser-link:focus .browser-name {
  color: #66cc00;
  text-decoration: none;
}
/* line 120, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-link.chrome .browser-logo {
  display: block;
  width: 124px;
  height: 124px;
  margin: 0 auto;
  text-align: center;
  background-position: 0 0;
}
/* line 120, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-link.firefox .browser-logo {
  display: block;
  width: 124px;
  height: 124px;
  margin: 0 auto;
  text-align: center;
  background-position: 0 -124px;
}
/* line 120, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-link.safari .browser-logo {
  display: block;
  width: 124px;
  height: 124px;
  margin: 0 auto;
  text-align: center;
  background-position: 0 -372px;
}
/* line 120, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-link.msie .browser-logo {
  display: block;
  width: 124px;
  height: 124px;
  margin: 0 auto;
  text-align: center;
  background-position: 0 -248px;
}

/* line 132, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-fine-print {
  color: #b2b2b2;
}
/* line 135, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
.browser-fine-print.is-empty {
  display: none;
}

@media screen and (min-width: 48em) {
  /* line 145, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-upgrade-container {
    margin-top: 3em;
  }

  /* line 149, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-upgrade-masthead .lead {
    padding: 0;
    font-size: 24px;
    clear: both;
  }

  /* line 155, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-upgrade-heading {
    padding: 0;
    margin-bottom: 1em;
    font-size: 34px;
  }

  /* line 161, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-list {
    max-width: 100%;
  }
  /* line 165, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-list .list-group-item.first-group-item {
    border-radius: 0 !important;
    -moz-border-radius-topleft: 4px !important;
    -webkit-border-top-left-radius: 4px !important;
    border-top-left-radius: 4px !important;
    -moz-border-radius-bottomleft: 4px !important;
    -webkit-border-bottom-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    border-right-width: 0;
  }
  /* line 171, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-list .list-group-item.last-group-item {
    border-radius: 0 !important;
    -moz-border-radius-topright: 4px !important;
    -webkit-border-top-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
    -moz-border-radius-bottomright: 4px !important;
    -webkit-border-bottom-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    border-left-width: 0;
  }

  /* line 182, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-link + .browser-link {
    padding-top: 63.38px;
    margin-top: -53.38px;
  }
  /* line 188, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-link.halved {
    float: left;
    width: 50%;
    *clear: right;
    *padding-right: 0;
    *padding-left: 0;
    *margin-bottom: -10px;
  }

  /* line 201, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-fine-print.is-empty {
    display: block;
  }
}
@media screen and (min-width: 62em) {
  /* line 211, ../../../../sass/peripherals/browser-upgrade/_browser-upgrade-layout.scss */
  .browser-upgrade-heading {
    font-size: 36px;
  }
}
