//----------------------------------------------------

//+  PARTIAL:  _badges.scss
//+  PARENT:   wdesk.scss

    // related partials:
    //+ "_labels.scss"

//----------------------------------------------------


//
// Base class
//
    .badge {
        display: inline-block;
        min-width: $badgeMinWidth;
        margin-right: $badgeHspacing;
        padding: $badgePadding;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
        color: $badgeColor;
        background-color: $badgeBg;
        font-family: $fontFamilyBase;
        font-size: $badgeFontSize;
        font-weight: bold;
        line-height: 1; // not a selectable piece of text
        border-radius: $badgeMinWidth;
        @include disableUserSelect;

        // Empty badges collapse
        &:empty { display: none; }

        // HOVER STATE
        //
        // for clickable badges
        //
        &[href],
        &[wf-click],
        &[wf-click-start],
        &[ng-click] {
            #{$linkHoverFocus} {
                cursor: pointer;
                text-decoration: none;
                color: $badgeColorHover;
            }
        }

        &.pull-left  { margin-right: $badgeHspacing; }
        &.pull-right {
            margin-right: 0;
            margin-left: $badgeHspacing;
        }

    } // END .badge (base class)


//
// badges in buttons
//
    .btn .badge {
        $btnBadgeValign: -($btnTextHeight - $badgeHeight);
        margin-top: $btnBadgeValign;
        &.pull-left,
        &.pull-right {
            // padding comes into play now that its floating
            margin-top: 1%;
            margin-bottom: -1%; // don't affect the height of the button
        }
    }
    .btn-lg .badge {
        &.pull-left,
        &.pull-right {
            margin-top: 4%;
            margin-bottom: -4%;
        }
    }
    .btn-sm .badge {
        $btnBadgeValign: -($btnTextHeightSmall - $badgeHeightSmall);
        $btnBadgeValign: $btnBadgeValign + stripUnit(nth($badgePaddingSmall, 1));
        padding: $badgePaddingSmall;
    }
    .btn-xs .badge {
        $btnBadgeValign: -($btnTextHeightSmall - $badgeHeightSmall);
        $btnBadgeValign: $btnBadgeValign + stripUnit(nth($badgePaddingSmall, 1));
        padding: $badgePaddingXsmall;
        font-size: $badgeFontSizeXsmall;
        &.pull-left,
        &.pull-right {
            margin-top: 2%;
            margin-bottom: -2%;
        }
    }

    // reset the default badge colors for a "text" hyperlink button
    .btn-link .badge {
        color: $badgeColor;
        background-color: $badgeBg;
    }


//
// badge colors
//
    // Only give background-color difference to clickable elems (.hitarea)
    // (and to simplify, we don't qualifty with `a` but .hitarea class)

    // Danger (red)
    .badge-error                { background-color: $state_error; }
    .badge-error.hitarea        { background-color: darken($state_error, 10%); }
    // Warnings (orange)
    .badge-warning              { background-color: $state_warning; }
    .badge-warning.hitarea      { background-color: darken($state_warning, 10%); }
    // Success (green)
    .badge-success              { background-color: $state_success; }
    .badge-success.hitarea      { background-color: darken($state_success, 10%); }
    // Alternate
    .badge-alt                  { background-color: $state_alt; }
    .badge-alt.hitarea          { background-color: darken($state_alt, 10%); }
