//----------------------------------------------------

//+  PARTIAL:  _browser-upgrade-layout.scss
//+  PARENT:   wdesk_browser-upgrade.scss

    $browsers: chrome, firefox, safari, msie;
    // browser logo sprite creation
    @import "browser-upgrade/*.png";

//----------------------------------------------------

    $logoPad:            round($lineHeightBasePx / 2);
    $groupHeadingHeight: $headingSuperHeaderFontSize + (nth($headingsMargins, 1) + nth($headingsMargins, 3)) + 2;
    $groupHeadingColor:  $wf_green;
    $groupBgBest:        $wf_gray_lt6;
    $groupBg:            lighten($groupBgBest, 2);

.browser-upgrade-container {
    margin-top: 1em;
}

.browser-upgrade-masthead .lead {
    padding: 0 round($gridGutterWidth / 2);
    margin-bottom: round($lineHeightBasePx * 1.5);
    font-size: $heading2FontSize;
    clear: both;
}

.browser-upgrade-benefits {
    padding: 0 round($gridGutterWidth / 2);
    max-width: 570px;
    margin: 0 auto;
}

.browser-upgrade-heading {
    padding: 0 round($gridGutterWidth / 2);
    margin-bottom: 1em;
    font-size: $headingMainTitleFontSize - 6;
    color: $wf_green_dk;
}

.browser-list {
    margin-top: $lineHeightBasePx;
    margin-left: 0;
    margin-right: 0;

    .list-group-item {
        text-align: center;
        background: $groupBg;
        // prevent link bg colors from overflowing outside corner radii
        overflow: hidden;
        @include background-clip(padding-box);

        // zero-out all padding inherited from global .list-group-item styles
        padding: 0;

        // reset border radiuses
        // need the !important b/c of :first-child / :last-child specificity
        border-radius: 0 !important;

        &.first-group-item {
            @include border-top-radius($borderRadiusBase !important);
        }
        &.last-group-item {
            @include border-bottom-radius($borderRadiusBase !important);
        }

        &.browsers-best {
            background: $groupBgBest;
        }
    }
}

.browser-group-heading {
    color: $groupHeadingColor;
    // MSIE 7 has to have this
    position: relative;

    &.is-empty {
        visibility: hidden;
    }
}

.browser-link {
    display: block;
    // make room for absolutely positioned heading
    padding-top: $groupHeadingHeight + $logoPad;
    padding-bottom: $lineHeightBasePx;
    margin-top: -$groupHeadingHeight;

    + .browser-link {
        padding-top: $logoPad;
        margin-top: 0;
    }

    &, .browser-name {
        color: $wf_gray;
    }

    #{$linkHoverFocus} {
        background-color: darken($groupBg, 4);
        &, .browser-name {
            color: $groupHeadingColor;
            text-decoration: none;
        }
    }

    // create sizing / positioning for sprite images
    @each $browser in $browsers {
        &.#{$browser} {
            $logoWidth:  browser-upgrade-sprite-width(#{$browser});
            $logoHeight: browser-upgrade-sprite-height(#{$browser});

            .browser-logo {
                display: block;
                width: $logoWidth;
                height: $logoHeight;
                margin: 0 auto;
                text-align: center; // required for MSIE 6 centering
                @include browser-upgrade-sprite(#{$browser});
            }
        }
    }
}

.browser-fine-print {
    color: $wf_gray_lt3;

    &.is-empty {
        display: none;
    }
}

// when it's at its smallest possible screen-width
// make the max-width the size that each list-group-item is
// at the desktop size (per @hannahdeering-wf's request)
@media screen and (max-width: $screenTablet - 1) {
    .browser-list {
        max-width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: $screenTabletMin) {
    .browser-upgrade-container {
        margin-top: 3em;
    }

    .browser-upgrade-masthead .lead {
        padding: 0;
        font-size: $heading1FontSize;
        clear: both;
    }

    .browser-upgrade-heading {
        padding: 0;
        margin-bottom: 1em;
        font-size: $headingMainTitleFontSize - 2;
    }

    .browser-list {
        // re-establish row margin
        margin-right: $gridGutterWidth / -2;
        margin-left: $gridGutterWidth / -2;

        .list-group-item {
            &.first-group-item {
                // reset again now that we're floating these left to right
                border-radius: 0 !important;
                @include border-left-radius($borderRadiusBase !important);
                border-right-width: 0;
            }
            &.last-group-item {
                // reset again now that we're floating these left to right
                border-radius: 0 !important;
                @include border-right-radius($borderRadiusBase !important);
                border-left-width: 0;
            }
        }
    }

    .browser-link {

        + .browser-link {
            padding-top: $groupHeadingHeight + $logoPad;
            // make room for absolutely positioned heading
            margin-top: -$groupHeadingHeight;
        }

        &.halved {
            float: left;
            width: 50%;
            @include ltie8 {
                *clear: right;
                *padding-right: 0;
                *padding-left: 0;
                *margin-bottom: round($lineHeightBasePx / -2); // not a clue in the world why MSIE 7 needs this
            }
        }
    }

    // need the height of these placeholders when we're lining these up left-to-right
    .browser-fine-print.is-empty {
        display: block;
    }
}

@media screen and (min-width: $screenDesktopMin) {
    .browser-upgrade-heading {
        font-size: $headingMainTitleFontSize;
    }
}