//----------------------------------------------------

//+  PARTIAL:  _carousel.scss
//+  PARENT:   wdesk.scss

//----------------------------------------------------

@mixin carouselNextPrevCommon {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
}

// Wrapper for the slide container and indicators
.carousel {
    position: relative;
    width: auto;
    // so the padding is additive, and the width is determined by the size of the images within it
    @include box-sizing(content-box);
    padding: $carouselPadding;
}

.carousel-inner {
    position: relative;
    width: auto;
    overflow: hidden;
    // make room for caption/page control BELOW image - not over the top of it
    padding-bottom: $carouselInnerPadBottom;

    > .item {
        display: none;
        position: relative;
        @include transition($carouselTransitionSpeed ease-in-out left);

        // Account for jankitude on images
        > img,
        > a > img {
            @include imgResponsive;
            line-height: 1;
        }
    }

    > .active {
        display: block;
        left: 0;
    }

    > .next {
        @include carouselNextPrevCommon;
        left: 100%;
        &.left {
            left: 0;
        }
    }

    > .prev {
        @include carouselNextPrevCommon;
        left: -100%;
        &.right {
            left: 0;
        }
    }

    > .active.left {
        left: -100%;
    }

    > .active.right {
        left: 100%;
    }
}


//
// Left/right controls for nav
//
    .carousel-control {
        position: absolute;
        top: 0;
        bottom: $carouselInnerPadBottom; // center vertically on the image - not the image / caption
        left: 0;
        width: $carouselControlWidth;
        color: $carouselControlColor;
        text-align: center;
        // We can't have a CSS transition here because WebKit cancels the carousel
        // animation if you trip this while in the middle of another animation.

        &.right {
            left: auto;
            right: 0;
        }

        // Hover/focus state
        #{$linkHoverFocus} {
            color: $carouselControlColorHover;
            text-decoration: none;
            outline: 0;
        }

        // Toggles
        .icon-carousel-prev,
        .icon-carousel-next {
            position: absolute;
            top: 50%;
            left: $carouselControlPadding;
            z-index: 5;
            display: block;
            margin-top: -#{round($carouselControlIconSize / 2)};
        }

        // Disabled states when non-wrapping carousel is at the edge
        .at-left-edge &[data-slide="prev"],
        .at-right-edge &[data-slide="next"] {
            cursor: default;
            color: $carouselControlColor;
        }
    }


//
// Optional indicator pips
//
// Add a .page-indicators component with a list item for each
// slide your carousel holds.
//
    .page-indicators {
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 15;
        width: 100%;
        margin-left: -50%;
    }


//
// Optional captions
//
// Hidden by default for smaller viewports
//
    .carousel-caption {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 100%; // place BELOW the image - not on-top of it.
        z-index: 10;
        padding-top: round($carouselControlPadding / 2);
        color: $carouselCaptionColor;
        text-align: center;
        font-size: 18px;
        font-weight: normal;

        .lead {
            margin: 0;
            font-size: 18px;
            font-weight: normal;
        }
    }

