//----------------------------------------------------

//+  PARTIAL:  _component-animations.scss
//+  PARENT:   wdesk.scss

    // related partials:
    //+ "_constants/_transition-reference.scss"
    //+ "_utilities.scss"

//----------------------------------------------------


.fade {
    @include fadeTimer($fadeDefaultTiming);

    &,
    &.out {
        visibility: hidden;
        @include opacity(0);
    }
    &.mid,
    &.in {
        visibility: visible;
    }
    &.mid {
        @include opacity(.5);
    }
    &.in {
        @include opacity(1);
    }
}

.collapse {
    @extend %collapse;
    &.in {
        @extend %collapse-in;
    }
}
.collapsing {
    @extend %collapsing;
}


.slide {
    @extend %slide;
    // TODO: does it make sense to use the z-index here?
    z-index: $zindexModal + 50; // keep above EVERYTHING

    &.fixed-top,
    &.down {
        @extend %slide-down;
    }
    &.fixed-bottom,
    &.up {
        @extend %slide-up;
    }
    &.left {
        @extend %slide-left;
    }
    &.right {
        @extend %slide-right;
    }

} // END .slide

.spin {
    @include translateZ(0);
    &.active {
        @include spinner($speed: 1s);
    }

    // many times, this is used in conjunction with a refresh icon
    // which we want to use to signify success / failure
    @include transition-property(color);
    @include transition-timing-function(ease-in-out);
    @include transition-duration(1s); // for fading out
}
.icon.spin {
    position: relative;
    top: $iconPseudoShiftY;
    margin: 0;
    padding: 0; // make up for the icon offset since the glyph itself is not offset
    &:before, &:after {
        top: 0 !important;
        left: 0 !important;
        margin: 0 !important;
        // make sure the progress-spinner doesn't get "off-kilter"
        padding: 0;
        text-align: center;
    }
}
