//----------------------------------------------------

//+     PARTIAL:  _icons_colors-doctypes.scss
//+     PARENT:   _icons_pua-doctypes.scss

    // PUA GLYPH DECLARATIONS
    // For doctype two-color icons

    // related partials:
    //+ "_icons_pua-components.scss"
    //+ "_icons_pua-main.scss"
    //+ "_icons_colors.scss"

//----------------------------------------------------

//
// ICONS THAT ARE TWO COLORS NO MATTER WHAT
//
.icon-two-color {

    //
    // NON-WFML DOCTYPES
    //
        &.icon-image:after {
            color: $secDoc_Gray !important;
            @include icon-image-glyph2;
        }
        &.icon-twfr-image:after {
            color: $secDoc_Gray !important;
            @include icon-twfr-image-glyph2;
        }
        &.icon-file-msexcel:after {
            color: $xls_green !important;
            @include icon-file-msexcel-glyph2;
        }
        &.icon-twfr-file-msexcel:after {
            color: $xls_green !important;
            @include icon-twfr-file-msexcel-glyph2;
        }
        &.icon-file-mspowerpoint:after {
            color: $ppt_orange !important;
            @include icon-file-mspowerpoint-glyph2;
        }
        &.icon-twfr-file-mspowerpoint:after {
            color: $ppt_orange !important;
            @include icon-twfr-file-mspowerpoint-glyph2;
        }
        &.icon-file-msword:after {
            color: $doc_blue !important;
            @include icon-file-msword-glyph2;
        }
        &.icon-twfr-file-msword:after {
            color: $doc_blue !important;
            @include icon-twfr-file-msword-glyph2;
        }
        &.icon-file-pdf:after {
            color:  $pdf_red !important;
            @include icon-file-pdf-glyph2;
        }
        &.icon-twfr-file-pdf:after {
            color:  $pdf_red !important;
            @include icon-twfr-file-pdf-glyph2;
        }


    //
    // NON-SEC WFML DOCTYPES
    //
        &.icon-file-copy:after {
            color: $wf_green !important;
            @include icon-file-copy-glyph2;
        }
        &.icon-file-certification:after {
            color: $secDoc_Red !important;
            @include icon-file-certification-glyph2;
        }
        &.icon-twfr-file-certification:after {
            color: $secDoc_Red !important;
            @include icon-twfr-file-certification-glyph2;
        }
        &.icon-book-binder-alt-copy:after {
            color: $wf_green !important;
            @include icon-book-binder-alt-copy-glyph2;
        }
        &.icon-book-binder-properties:after {
            color: $wf_blue !important;
            @include icon-book-binder-properties-glyph2;
        }
        &.icon-book-binder-properties-alt:after {
            color: $wf_blue !important;
            @include icon-book-binder-properties-alt-glyph2;
        }


    //
    // SPECIAL WFML FILE PROPERTIES, ETC...
    //
        &.icon-file-link:after {
            color: $wf_blue !important;
            @include icon-file-link-glyph2;
        }
        &.icon-file-preview:after {
            color: $wf_blue !important;
            @include icon-file-preview-glyph2;
        }
        &.icon-file-control:after {
            color: $wf_blue !important;
            @include icon-file-control-glyph2;
        }
        &.icon-file-properties:after {
            color: $wf_blue !important;
            @include icon-file-properties-glyph2;
        }
        &.icon-file-validate:after {
            color: $wf_green !important;
            @include icon-file-validate-glyph2;
        }
        &.icon-file-new:after {
            color: $wf_green !important;
            @include icon-file-new-glyph2;
        }
        &.icon-file-export:after {
            color: $wf_blue !important;
            @include icon-file-export-glyph2;
        }
        &.icon-file-import:after {
            color: $wf_blue !important;
            @include icon-file-import-glyph2;
        }


    //
    // DRAFT / FROZEN STATES FOR DOCTYPES
    //
    // These files share an :after glyph, so we'll use
    // fuzzy class matching selectors to save on CSS selector count
    //
        &[class*="icon-twfr-file"] {
            &[class*="-frozen"]:after {
                color: $wf_gray;
                @include icon-twfr-file-frozen-glyph2;
            }
        }
        &.icon-twfr-file-draft {
            &:before {
                color: $doc_blue;
            }
            &:after {
                color: $wf_gray;
                @include icon-twfr-file-draft-glyph2;
            }
        }
        &.icon-twfr-file-frozen {
            &:before {
                color: $doc_blue;
            }
        }
        &.icon-twfr-file-presentation-draft {
            &:before {
                color: $secDoc_Orange;
            }
            &:after {
                color: $wf_gray;
                @include icon-twfr-file-presentation-draft-glyph2;
            }
        }
        &.icon-twfr-file-presentation-frozen {
            &:before {
                color: $secDoc_Orange;
            }
        }
        &.icon-twfr-file-workbook-draft {
            &:before {
                color: $wfmlWorkbook_green;
            }
            &:after {
                color: $wf_gray;
                @include icon-twfr-file-workbook-draft-glyph2;
            }
        }
        &.icon-twfr-file-workbook-frozen {
            &:before {
                color: $wfmlWorkbook_green;
            }
        }
        &.icon-twfr-file-datacollections-draft {
            &:before {
                color: $wfmlWorkbook_greenDk;
            }
            &:after {
                color: $wf_gray;
                @include icon-twfr-file-datacollections-draft-glyph2;
            }
        }
        &.icon-twfr-file-datacollections-frozen {
            &:before {
                color: $wfmlWorkbook_greenDk;
            }
        }

}


//
// ICONS THAT COULD BE ONE OR TWO COLORS
//
// Even if .icon-two-color
// class is still in-use
//
// TODO: deprecate icon-two-color use with sec doctypes by 0.5.0
//
.icon-color,
.icon-two-color {

    &.icon-file-sec,
    &[class*="icon-sec-"] {
        &:before {
            color: $secDoc_Blue !important;
        }
    }
    &.icon-file-risk {
        &:before {
            color: $secDoc_Gray !important;
        }
    }
    &.icon-file-csr,
    &.icon-sec-CSR {
        &:before {
            color: $secDoc_Green !important;
        }
    }

} // END .icon-color/.icon-two-color


//
// ICONS THAT ARE ONE COLOR NO MATTER WHAT
//
.icon-color {
    &.icon-file:before,
    &.icon-twfr-file:before {
        color: $doc_blue !important;
    }
    &[class*="file-presentation"]:before {
        color: $secDoc_Orange !important;
    }
    &[class*="file-workbook"]:before {
        color: $wfmlWorkbook_green !important;
    }
    &[class*="file-datacollections"]:before {
        color: $wfmlWorkbook_greenDk !important;
    }
    &[class*="book-binder"]:before {
        color: $wf_gray !important;
    }
    &[class*="file-certification"] {
        color: $secDoc_Red !important;
    }
}