//----------------------------------------------------

//+ PARTIAL:  _icons_pua-components.scss
//+ PARENT:   _icons.scss

    // Special cases where we need to
    // use @extend for an icon class to get a component
    // working the way we want
    // We use this file instead of housing the @extend
    // in the component partial itself because we
    // split the icon files into their own part sheets
    // which means the extends would not work.

    // related partials:
    //+ "_icons_pua-main.scss"
    //+ "_icons_pua-two-color.scss"
    //+ "_icons_pua-doctypes.scss"

//----------------------------------------------------


//
// component: CHOSEN SEARCH FIELD
//
// related partial:
// "_forms-chosen.scss"
//
.chosen-search,
input[type="search"] {
    @extend .icon-search; // get the glyph content code
}

input[type="search"] {
    &:before {
        font-size: $baseIconSize * 1.5;
        font-family: $mainIconsFont;
        font-style: normal;
        display: block;
        position: absolute;
        top: 0;
        right: $spacingBase + $inputBdWidth;
        width: $inputHeightSmall;
        height: $inputHeightSmall;
        line-height: $inputHeightSmall;
        color: $grayLighter;
    }
}

// misc glyphs that need to be used by other selectors
%icon-checkmark-sign {
    @extend .icon-checkmark-sign;
}