//----------------------------------------------------

//+  PARTIAL:  _input-groups.scss
//+  PARENT:   wdesk.scss

    // parent partial:
    //+ "_forms.scss"

//----------------------------------------------------


//
// Base styles
//
.input-group {
    position: relative; // for dropdowns
    display: table;
    border-collapse: separate; // prevent input groups from inheriting border styles from table cells when placed within a table

    // Undo padding and float of grid classes
    &[class^="col-"] {
        float: none;
        padding-left: 0;
        padding-right: 0;
    }
}


//
// Sizing options
//
// Remix the default form control sizing classes into new ones for easier manipulation.
//
@include inputGroupSize(xs, $inputHeightXsmall, $paddingXsmallVertical, $paddingXsmallHorizontal, $fontSizeXsmall, $lineHeightXsmall, $borderRadiusXsmall);
@include inputGroupSize(sm, $inputHeightSmall, $paddingSmallVertical, $paddingSmallHorizontal, $fontSizeSmall, $lineHeightSmall, $borderRadiusSmall);
@include inputGroupSize(lg, $inputHeightLarge, $paddingLargeVertical, $paddingLargeHorizontal, $fontSizeLarge, $lineHeightLarge, $borderRadiusLarge);


//
// Display as table-cell
//

@mixin inputGroupCell {
    // declare global styles here and include as necessary
    // to cut down on css selector count
    display: table-cell;
    vertical-align: middle;

    &:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
}
@mixin inputGroupAddon {
    // declare global styles here and include as necessary
    // to cut down on css selector count
    width: 1%;
    white-space: nowrap;
}


//
// Form controls within input groups
//
.input-group .form-control {
    @include inputGroupCell;
    width: 100%;
    margin-bottom: 0;

    &:first-child {
        @include border-right-radius(0);
    }

    &:last-child {
        @include border-left-radius(0);
    }
}


//
// Text input groups
//
.input-group-addon {
    @include inputGroupCell;
    @include inputGroupAddon;

    padding: $paddingBaseVertical $paddingBaseHorizontal;
    font-size: $fontSizeBase;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: lighten($inputBdColor, 5%);
    border: $inputBdWidth solid $inputBdColor;
    border-radius: $borderRadiusBase;

    // Nuke default margins from checkboxes and radios to vertically center within.
    input[type="radio"],
    input[type="checkbox"] {
        margin-top: 0;
        vertical-align: middle; // necessary for MSIE
    }
}

// Reset rounded corners and handle double borders
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
    @include border-right-radius(0);
    border-right-width: 0;
}

.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
    @include border-left-radius(0);
    border-left-width: 0;
}


//
// Button input groups
//
.input-group-btn {
    display: table-cell !important; // override .dropdown style
    position: relative;
    white-space: nowrap;
    vertical-align: middle; // fix vertical alignment in MSIE

    > .btn {
        position: relative;
        box-shadow: none; // no "depth" shadow on these
        @if $ie-support and $min-ie-supported < 9 {
            // MSIE 8 doesn't support `box-shadow`
            border-bottom-width: $btnBdWidth;
        }

        // Jankily prevent input button groups from wrapping
        + .btn {
            margin-left: -4px;
            border-left-width: $btnBdWidth !important; // reset border width
        }
        // Bring the "active" button to the front
        #{$hover},
        #{$linkPressed},
        &.active {
            z-index: 2;
            top: 0 !important; // no "depth" shift
        }
    }

    &.open,
    .open {
        > .btn.dropdown-toggle {
            top: 0; // no "depth" shift
        }
    }
}
