//----------------------------------------------------

//+  PARTIAL:  _jumbotron.scss
//+  PARENT:   wdesk.scss

//----------------------------------------------------


.jumbotron {
    margin-bottom: 30px;
    padding: 30px;
    color: $jumbotronLeadColor;
    background-color: $jumbotronBg;
    font-size: 21px;
    line-height: ($lineHeightBasePx * 1.5);
    h1 {
        color: $jumbotronHeadingColor;
        line-height: 1;
    }
    p {
        line-height: 1.4;
        font-family: $headingsFontFace;
        font-weight: $webfontWeightLt;
    }
}

@media screen and (min-width: $screenTablet) {
    .jumbotron {
        padding: 50px 60px;
        border-radius: $borderRadiusLarge; // Only round corners at higher resolutions

        h1 {
            font-size: 60px;
            letter-spacing: $headingsKerning - 1px;
        }
    }
}
