//----------------------------------------------------

//+  PARTIAL:  _media.scss
//+  PARENT:   wdesk.scss

    // related partials:
    //+ "_thumbnails.scss"

//----------------------------------------------------


//
// Common styles
//

// Clear the floats
.media,
.media-body {
    overflow: hidden;
    @include ltie8 {
        *overflow: visible;
    }
    zoom: 1;
}

// Proper spacing between instances of .media
.media,
.media .media {
    margin-top: $lineHeightBasePx - $spacingBase;
}
.media:first-child {
    margin-top: 0;
}

// For images and videos, set to block
.media-object {
    display: block;
}

// Reset margins on headings for tighter default spacing
.media-heading {
    margin: 0 0 $spacingBase;
}


//
// Media image alignment
//
.media {
    > .pull-left {
        margin-right: round($lineHeightBasePx / 2);
    }
    .pull-right {
        margin-left: round($lineHeightBasePx / 2);
    }
}


//
// Media list variation
//
// Undo default ul/ol styles
.media-list {
    margin-left: 0;
    list-style: none;
}