//----------------------------------------------------

//+  PARTIAL:  _navbar.scss
//+  PARENT:   wdesk.scss

    // related partials:
    //+ "_navs.scss"

    // Comments

    // [1]  Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar
    // [2]  Prevent floats from breaking the navbar
    // [3]  We want the borders to be outset - not inset
    // [4]  Not quite as much emphasis as a ul.nav > li > .hitarea
    // [6]  Build the thick bottom green border style using inset box-shadow
    // [7]  The "active" inset box shadow should overlap the border color
    // [8]  We need the extra room in this case to be added to the top, not the bottom
    // [9]  Thick green border is at the top, not the bottom
    // [10] When a dropup menu is opened out of the navbar
    //      we want the "active" appearance of a navbar item to
    //      extend into the dropdown menu itself
    // [11] Supplement the top padding to make room for the thick green inset shadow
    // [12] Make the dropup look "connected" to the fixed-bottom navbar when revealed
    // [13] This nav contains the button that reveals the collapsed menu at smaller screen sizes
    // [14] Keep it away from the far edge of the navbar (so the borders can connect if there is a dd)
    // [15] Menu that contains links that are converted into a collapsing "toggle" menu at smaller screen sizes

//----------------------------------------------------


//
// Wrapper and base class
//
    .navbar {
        position: relative;
        @include ltie8 { // [1]
            *z-index: 2;
        }
        top: 0;
        left: 0;
        height: $navbarInnerHeight;
        padding: 0 $navbarBdRadius;
        color: $navbarColor;
        border: $navbarBdWidth solid $navbarBdColor;
        border-radius: $navbarBdRadius;
        background-color: $navbarBg;
        font-size: $navbarFontSize;
        line-height: $navbarBrandHeight;
        font-family: $webfontSansSerif;
        @include clearfix; // [2]
        @include box-sizing(content-box); // [3]

        .nav {
            @include clearfix;
            float: left;
            margin-bottom: 0; // END .navbar .nav.mobile
            height: $navbarInnerHeight;
            &.pull-right {
                float: right; // redeclare for specificity
                padding-right: $navbarEdgeOffset; // [14]
            }
            &.mobile { // [13]
                position: absolute;
                top: 0;
                right: $navbarPadRight; // get out of the way of the help icon
                left: auto;
                overflow: hidden;
            }
        }

        .container {
            padding-right: $navbarPadRight;
            padding-left: $navbarPadLeft;
        }
    } // END .navbar (base class)

    // Navbar Toggle
    //
    // Custom button for toggling the `.navbar-collapse`, powered by the collapse
    //
    // JavaScript plugin.
    //
    .navbar-toggle {
        padding: 0 round(($navbarHeight - $baseIconSize - $navbarBdWidth) / 2); // make it a square btn
        color: $navBdColorEmphasized;
        background-color: $navbarBg;
        &.collapsed { color: $navLinkColor; }
    }


//
// Navbar nav links
//
    .navbar {

        a,
        .hitarea {
            text-decoration: none;
            color: lighten($navbarLinkColor, 10%); // [4]

            @include ios {
                .icon {
                    top: -1px;
                }
            }
        }

        .nav > li {
            float: left;

            > .hitarea {
                height: $navbarLinkHeight;
                padding: gibsonPadOffset($navbarLinkPaddingVertical $navbarLinkPaddingHorizontal);
                color: $navbarLinkColor;
                background-color: $navbarLinkBg;
                line-height: $navbarLinkLineHeight;

                //
                // HOVER STATE
                //
                #{$linkHoverFocus} {
                    color: $navbarLinkColorHover;
                    background-color: $navbarLinkBgHover;
                }

                //
                // PRESSED STATE
                //
                #{$linkPressed} {
                    color: $navbarLinkColorPress;
                    background-color: $navbarLinkBgPress;
                }

                //
                // DISABLED STATE
                //
                &.disabled,
                &[disabled] {
                    color: $navbarLinkColorDisabled !important;
                    background-color: $navbarLinkBgDisabled !important;
                }
            } // END .navbar .nav > li > .hitarea
        } // END .navbar .nav > li


        //
        // .navbar-nav links
        //
        // TODO: refactor this so that .nav within .navbar no longer exists, and the active state is solidified between this and the current "ribbon tab" active nav state
        //
        .navbar-nav > li {
            &.active {
                > .hitarea {
                    font-weight: bold;
                    color: $navLinkColorActive;
                }
            }
        }


        //
        // Ribbon Sub-Nav (Tabbable)
        //
        .ribbon-menu-tabs {
            // Tab links that activate containers within .ribbon-nav-container
            .nav > li {
                > .hitarea {
                    line-height: $navbarRibbonTabLinkLineHeight;
                }

                //
                // ACTIVE STATE
                //
                &.active {
                    > .hitarea {
                        color: $navbarLinkColorActive;
                        background-color: $navbarLinkBgActive;
                        @include box-shadow(inset 0 -#{$navbarRibbonTabLinkBdWidth} 0 $navbarRibbonTabLinkBdColorActive); // [6]
                    }
                }
            }
        } // END .ribbon-menu-tabs

        // .navbar-fixed-bottom variant of ribbon-menu-tabs
        &.navbar-fixed-bottom {
            .ribbon-menu-tabs {
                .nav > li {
                    line-height: $navbarHeight - $navbarRibbonTabLinkLineHeight;
                    //
                    // ACTIVE STATE
                    //
                    &.active > .hitarea {
                        @include box-shadow(inset 0 #{$navbarRibbonTabLinkBdWidth} 0 $navbarRibbonTabLinkBdColorActive);
                    }
                }
            }
        } // END .navbar-fixed-bottom .ribbon-menu-tabs

        // IE8 and below cannot use box shadow to represent active state
        // for .ribbon-menu-tabs links
        .no-boxshadow & {
            $noBoxShadowLiPad: $navbarRibbonTabLinkBdWidth - $navbarBdWidth;
            $noBoxShadowHitareaHeight: $navbarLinkHeight - $navbarRibbonTabLinkBdWidth + $navbarBdWidth;
            .ribbon-menu-tabs .nav > li {
                border-bottom: $navbarBdWidth solid $navbarBdColor;
                padding-bottom: $noBoxShadowLiPad;
                background-color: $navbarBg;
                > .hitarea {
                    height: $noBoxShadowHitareaHeight;

                    #{$linkPressed} {
                        background-color: if($navbarLinkBgPress == transparent, $navbarBg, $navbarLinkBgPress);
                    }
                }
                &.active {
                    border-bottom-color: $navbarRibbonTabLinkBdColorActive;
                    background-color: $navbarRibbonTabLinkBdColorActive;
                }
                &.open {
                    // remove the bottom "border" when dropdown menus are open
                    background-color: $navbarBg !important;
                }
            }
            // "static" navbars have borders on top AND bottom
            &.navbar-static-top,
            &.navbar-static-bottom {
                .ribbon-menu-tabs .nav > li > .hitarea {
                    height: $noBoxShadowHitareaHeight - $navbarBdWidth;
                }
            }
            // bottom navbars, having the "border" on top
            // have their vertical alignment affected by line height
            // and their caret alignment affected by the top padding of the .hitarea
            &.navbar-fixed-bottom {
                .ribbon-menu-tabs .nav > li {
                    padding-top: $noBoxShadowLiPad;
                    padding-bottom: 0;
                    border-top: $navbarBdWidth solid $navbarBdColor;
                    border-bottom: 0 none;

                    > .hitarea {
                        line-height: $navbarHeight;

                        > .caret {
                            margin-top: $navbarDropdownCaretMargin - $noBoxShadowLiPad;
                        }
                    }

                    &.active {
                        border-top-color: $navBdColorEmphasized;
                    }
                }
            }
        } // END .no-boxshadow styles for active ribbon tab links

        .ribbon-nav-container {
            .container {
                padding: 0;
            }
            // placed here so that the margin of the .container inside it
            // won't cause the green border to not extend the full width of the screen
            border-bottom: $navBdWidthEmphasized solid $navBdColorEmphasized;
        }

        .ribbon-nav {
            float: none;
            height: auto !important;

            .tab-content.subnav {
                float: left;
                clear: both;
                width: 100%;
                min-height: $navRibbonMinHeight;
                // the extra vertical padding is added via the btn-vertical elems within it
                //
                padding: 0;
            }
            .btn-toolbar {
                // keep this below dropdowns from the top navbar
                position: relative;
                z-index: 1;

                > .btn-share {
                    // just like a button group
                    position: relative;
                    top: 4px;
                    display: inline-block;
                    @include ie7-inline-block;
                    padding-right: 10px;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: middle;

                    // undo / redo buttons
                    .btn-group {
                        display: block;

                        > .btn {
                            width: 50%;
                            padding-top: 0;
                            padding-bottom: 0;
                            margin-top: 4px;
                        }
                    }
                }
                > .btn-group {
                    // create a vertical divider between button groups
                    &:after {
                        position: absolute;
                        top: $navRibbonButtonPadTop;
                        right: -#{$spacingBase}; // based on .btn-group left margin
                        display: block;
                        width: 1px;
                        // should be as tall as the icons within the buttons
                        height: $navRibbonMinHeight - ($navRibbonButtonPadTop + $navRibbonButtonPadBottom);
                        border-right: $navRibbonGroupDividerBdWidth dashed $navRibbonGroupDividerBdColor;
                        content: " ";
                    }
                    &:last-child {
                        &:after {
                            border-right: 0 none;
                        }
                    }
                }
            }
        } // END .navbar .ribbon-nav

        // when a ribbon nav is directly adjacent to our collapsing "global" nav...
        .ribbon-nav-container + .nav-collapse,
        .nav-collapse + .nav-blocks {
            position: absolute;
            top: 0;
            right: $navbarHeight; // make room for help link
            width: 100%;
        }


        //
        // Tabs within navbar
        //
        // Primarily used for "secondary / global" navigation
        // which contains the user menu, Go360, help, etc...
        //
        .nav-tabs {
            border-bottom-color: $navbarBdColor;

            > li {
                > .hitarea {
                    margin-right: 0; // no left/right borders on these tabs.
                    height: $navbarTabMenuHeight;
                    line-height: $navbarTabMenuHeight;
                    border-top: 0 none;
                    border-radius: 0;
                }
            }

            // "secondary / global" menus - typically secondary menus that align right
            // and have smaller text than normal nav-tabs within a .navbar
            &.nav-secondary {
                font-size: $fontSizeSmall;

                // override typical .pull-right tabbed nav margin / margin compensation
                &.pull-right > .dropdown > .hitarea {
                    margin-right: 0;
                }
                &.pull-right > .dropdown > .dropdown-menu,
                > .dropdown > .dropdown-menu.pull-right {
                    right: 0;
                }
            }
        } // END .navbar .nav-tabs


        //
        // Nav "Blocks"
        //
        // e.g. tablet viewer navbar buttons
        //
        .nav-blocks {
            > li {
                @include navbarBlockLinks($global: true);

                > .dropdown-menu {
                    // there is no "fat" buttom border to cover up with .dropdown-menu
                    // just the normal drop shadow please
                    @include box-shadow(#{$menuVShadow} !important);
                    margin-top: -$popoverTitleBdWidth !important;
                    border-color: darken($tooltipBgGray, 5%) !important;
                }
            }
        } // END .nav-blocks

        .nav-collapse + .nav-blocks {
            right: 0;
            width: auto;
        }

    } // END .navbar (nav links)

    // buttons within the btn-groups
    .btn-vertical {
        top: $menuVBdWidth; // align with dropdown .btn-vertical elems
        padding: $navRibbonButtonPadTop $navRibbonButtonPadX $navRibbonButtonPadBottom;
        // prevent shift when borders are added when dropdown-toggle is open
        border: $menuVBdWidth solid transparent !important;
        border-radius: 0;

        small {
            color: $navRibbonLabelColor;
            font-family: $navRibbonLabelFontFace;
            font-size: $navRibbonLabelFontSize;
            font-weight: $navRibbonLabelFontWeight;
            line-height: $navRibbonLabelLineHeight;
        }

        .icon:before {
            color: $navRibbonLabelIconColor;
        }

        .caret {
            border-top-color: $navRibbonLabelCaret;
            border-bottom-color: $navRibbonLabelCaret;
        }

        #{$linkHoverFocus} {
            small,
            .icon:before {
                color: $navRibbonLabelColorHover;
            }
        }
    }
    // when there are a lot of buttons in one toolbar... condense them
    .btn-toolbar-condensed {
        .btn-vertical {
            padding-left: $navRibbonButtonPadXCnd;
            padding-right: $navRibbonButtonPadXCnd;
        }
    }
    .ribbon-nav .dropdown {
        .btn-vertical {
            top: 0; // align with non-dropdown .btn-vertical elems
            // overlap the top border of the dropdown menu
            height: $navRibbonMinHeight + $menuVBdWidth;
            margin-bottom: -#{$menuVBdWidth};
            box-shadow: none !important;
        }
        .dropdown-menu {
            margin: 0;
            @include border-top-radius(0);
        }
        &.open {
            .btn-vertical {
                // prevent drop shadow of dropdown-menu from showing above
                background-color: $navRibbonBg;
                border-right-color: $menuVBdColor !important;
                border-bottom-color: $navRibbonBg !important;
                border-left-color: $menuVBdColor !important;
                box-shadow: none !important;
                z-index: $zindexDropdown + 1;

                small,
                .icon:before {
                    color: $navRibbonLabelColorHover !important;
                }
            }
        }
    }


//
// Navbar alignment options
//
    // Static top (unfixed, but 100% wide)
    .navbar-static-top {
        @media (max-width: $gridFloatBreakpoint) {
            border-radius: 0;
        }
    }

    // Fix the top/bottom navbars when screen real estate supports it
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        padding: 0;
        height: $navbarFixedInnerHeight;
        position: fixed;
        z-index: $zindexFixedNavbar;
        right: 0;
        left: 0;
        margin: 0;
        border-radius: 0;

        .nav {
            height: $navbarFixedInnerHeight;
            > li > .hitarea {
                height: $navbarFixedLinkHeight + $navbarBdWidth; // add 1px to overlap the bottom border of the navbar
                line-height: $navbarFixedLinkLineHeight + $navbarBdWidth;
            }

            &.pull-right {
                padding-right: 0; // no radius to inset from
            }
        }
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-fixed-bottom {
        top: auto;
        bottom: 0;
        border-width: 1px 0 0;

        .nav {
            margin-top: -#{$navbarBdWidth}; // END .navbar-fixed-bottom .nav > li // [7]
        } // END .navbar-fixed-bottom .nav

        .nav-blocks {
            > li {
                > .hitarea {
                    top: $navbarBdWidth;
                    border-top: $navbarBdWidth solid transparent;
                    border-bottom-width: 0;
                }
            }
        }
    } // END .navbar-fixed-bottom


//
// Navbar optional components
//

    //
    // Dropdowns in navbars
    //
    .navbar {
        .nav-tabs,
        .navbar-nav {
            li {
                > .hitarea {
                    border: $navTabBdWidth solid transparent;
                }

                &.open {
                    > .hitarea {
                        // match ribbon .btn-vertical.dropdown-toggle
                        background-color: $navbarBg;
                        border-right-color: $menuVBdColor !important;
                        border-bottom-color: $navbarBg !important;
                        border-left-color: $menuVBdColor !important;
                        box-shadow: none !important;
                    }
                }

                > .dropdown-menu {
                    // there is no "fat" buttom border to cover up with .dropdown-menu
                    // just the normal drop shadow please
                    @include box-shadow(#{$menuVShadow} !important);
                    margin-top: -#{$navbarBdWidth} !important;
                    @if $ie-support and $min-ie-supported < 9 {
                        @include ltie8 {
                            //IE6+7
                            *margin-top: 0 !important;
                        }
                        .ua-lt-ie9 & {
                            // IE8
                            margin-top: 0 !important;
                        }
                    }
                    // the bottom border of the .dropdown-toggle.hitarea elem
                    // will do the overlapping - so leave this transparent
                    border-top-color: transparent !important;
                }
            }
        }
    }


    //
    // Buttons in navbars
    //
    // Vertically center a button within a navbar (when *not* in a form).
    //
    .navbar-btn {
        margin-top: ($navbarHeight - $btnHeight) / 2;

        &.btn-sm {
            margin-top: stripUnit(($navbarHeight - $btnHeightSmall) / 2);
        }

        &.btn-xs {
            margin-top: ($navbarHeight - $btnHeightXsmall) / 2;
        }
    }


    //
    // Text in navbars
    //
    // Add a class to make any element properly align itself vertically within the navbars.
    //
    .navbar-text {
        float: left;
        padding: 0 $navbarPadLeft;
        margin-top: round(($navbarHeight - $lineHeightBasePx) / 2);
        margin-bottom: 0; // just in case its a p.navbar-text
        line-height: $lineHeightBasePx;
    }


    //
    // Links in navbars
    //
    // Add a class to ensure links outside the navbar nav are colored correctly.
    //
    .navbar-link {
        color: $navbarLinkColor;
        #{$linkHoverFocus} {
            color: $navbarLinkColorHover;
        }
    }


    //
    // Dividers in navbar
    //
    .navbar .nav > .divider {
        @include dividerHorizontal($navbarBg);
    }


    //
    // Brand / Solution Name
    //
    .navbar-brand {
        position: relative;
        left: 0;
        min-width: image-width($wdeskLogoUrl); // END .navbar-brand .brand-link
        white-space: nowrap;

        // child elems within .navbar-brand
        &, .brand-link, .brand-logo, .solution-name {
            display: block;
            float: left;
            width: auto;
            height: $navbarHeight;
            line-height: $navbarHeight;
        }

        .brand-link {
            $xpad: $navbarPadLeft;
            width: 100%;
            padding: 0 ($xpad * 2) 0 0;
            #{$linkHoverFocus} {
                text-decoration: none;
                color: $navbarLinkColorHover;
                outline: 0;
            }
            // PRESSED STATE
            #{$linkPressed} {
                color: $navbarLinkColorPress;
            }

            .brand-logo {
                @extend .wdesk-logo;
                position: relative;
                top: $navbarBrandLogoOffsetTop;
                height: $navbarHeight - $navbarBrandLogoOffsetTop;
            }
            // gets filled with specific part of wdesk the user is within
            .solution-name {
                margin-left: 8px;
                // we want the solution name to line up to the baseline of the wdesk logo
                // so we need to figure out where the bottom edge of the image is
                line-height: $navbarHeight + $navbarRibbonTabLinkLineHeight + $navbarBrandLowercaseOffset;
            }
        }
    } // END .navbar-brand

    .navbar .nav > .dropdown {
        > .global-help-tab {
            .icon {
                color: $navbarGlobalHelpIconColor !important;
                // line up with secondary-nav text
                // https://github.com/WebFilings/web-skin/issues/643
                top: -1px;
            }
            #{$linkHoverFocus} {
                .icon {
                    color: $navbarGlobalHelpIconColorHover !important;
                }
            }
        }
        &.open {
            > .global-help-tab .icon {
                color: $navbarGlobalHelpIconColor !important;
            }
        }
    }


//
// Navbar Directional Wizards
//
    .navbar {
        @include navbarWizards; // navbar wizards for wdesk globals
    }


//
// Navbar Dropdown menus
//
    .navbar .nav > .dropdown {

    //
    // Dropdown carets
    //
        // Caret should match text color
        > .dropdown-toggle {
            .caret {
                margin-top: $navbarDropdownCaretMargin;
                border-top-color:    $navbarLinkColor;
                border-bottom-color: $navbarLinkColor;
            }
            // HOVER STATE
            #{$linkHoverFocus} {
                color: $navbarLinkColorHover;
                .caret {
                    border-top-color:    $navbarLinkColorHover;
                    border-bottom-color: $navbarLinkColorHover;
                }
            }
        } // END .navbar .nav > .dropdown > .dropdown-toggle


    //
    // Dropdown Menu position
    //
        > .dropdown-menu {
            // slightly larger than standard
            min-width: $menuVMinWidth + 50px;
            // make the dropdown look "connected" to the navbar when its revealed
            margin-top: -#{$navbarBdWidth};
            border-color: $navbarBdColor;
            border-top-color: $navbarBg;
            @include border-top-radius(0);
            @include box-shadow(#{$navbarDropdownMenuOverlapShadow}, #{$menuVShadow});
            // make sure any adjacent .active > .hitarea green borders are "overlapped" by the open dropdown-menu
            z-index: 3;
        }
        &.open {
            > .dropdown-toggle {
                color: $navbarRibbonTabLinkColorActive;
                background-color: $navbarRibbonTabLinkBgActive;
                .caret {
                    border-top-color:    $navbarRibbonTabLinkColorActive;
                    border-bottom-color: $navbarRibbonTabLinkColorActive;
                }
            }
            &.active {
                // when a dropdown menu is opened out of the navbar
                // we want the "active" appearance of a navbar item
                // to extend into the dropdown menu itself
                > .dropdown-toggle {
                    // hide the bottom thick "border"
                    @include box-shadow(none);
                }
            }
        } // END .navbar .nav > li.dropdown.open

    } // END .navbar .nav > li.dropdown


    //
    // Menu position for dropups
    //
    .navbar-fixed-bottom .nav > .dropdown {
        > .dropdown-menu {
            margin-top: 0;
            margin-bottom: -#{$navbarBdWidth};
            border-color: $navbarBdColor;
            border-bottom-color: $navbarBg;
            @include border-top-radius($menuVBdRadius);
            @include border-bottom-radius(0); // [12]
            @include box-shadow(#{$navbarDropupMenuOverlapShadow}, #{$menuVShadowUp});
        }
    } // END .navbar-fixed-bottom .nav > li.dropdown


//
// Collapsing Navbar
//
    @media screen and (min-width: $navbarCollapseWidth + 1) {
        .nav.mobile {
            display: none;
        }
        .nav-collapse.collapse {
            display: block !important;
            overflow: visible !important;
            height: auto !important;
        }
    }

    // Navbar IS collapsed
    @media screen and (max-width: $navbarCollapseWidth) {
        @include collapsedNavbar;
    }
