//----------------------------------------------------

//+  PARTIAL:  _page-indicators.scss
//+  PARENT:   wdesk.scss

    // related partials:
    //+ "_pagination.scss"
    //+ "_pager.scss"

//----------------------------------------------------


.page-indicators {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    @include disableUserSelect;
    cursor: default;

    li {
        display: inline-block;
        @include ie7-inline-block;
        width:  $pageIndicatorSize;
        height: $pageIndicatorSize;
        margin: 0;
        padding: 0;
        text-indent: -999px;
        cursor: pointer;
        background-color: $pageIndicatorBg;
        border-radius: 50%; // will not be rounded in MSIE 8 or below
    }
    .active {
        background-color: $pageIndicatorBgActive;
    }
}