//----------------------------------------------------

//+  PARTIAL:  _pager.scss
//+  PARENT:   wdesk.scss

    // related partials:
    //+ "_navs.scss"
    //+ "_pagination.scss"

    // should appear very similar to .nav-pills

//----------------------------------------------------


.pager {
    @extend .nav-pills;
    @include clearfix;
    margin: $lineHeightBasePx auto;
    list-style: none;
    text-align: center;

    > li {
        display: inline-block;
        float: none;

        // Fix vertical alignment bug
        > button.hitarea,
        > input.hitarea {
            float: left;
        }

        // Aligned
        &.previous,
        &.next { display: inline; }
        &.previous > .hitarea { float: left; }
        &.next > .hitarea { float: right; }
    }
}
