//----------------------------------------------------

//+  PARTIAL:  _progress-app-loading.scss
//+  PARENT:   wdesk.scss

    // related partials:
    //+ "_progress-bars.scss"

//----------------------------------------------------

// $appLoadingLogoRelWidth: .13; // compared to total viewport width
$appLoadingLogoWidth: 163px; // base default width
$appLoadingLogoHeight: 48px;
$appLoadingLogoXheightRatio: .5; // compared to total logo width
$appLoadingLogoXheight: ceil($appLoadingLogoHeight * $appLoadingLogoXheightRatio);

$appLoadingProgressHeight: $lineHeightBasePx;
$appLoadingCopyrightMarginTop: $lineHeightBasePx * .75;
$appLoadingCopyrightHeight: $lineHeightBasePx + $appLoadingCopyrightMarginTop; // height + margin

$appLoadingContentHeight: $appLoadingLogoHeight + $appLoadingLogoXheight + $appLoadingProgressHeight;

// horizontal centering of the two outer containers
.app-loading-content,
.app-loading-copyright {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.app-loading-content {
    // vertical centering of app-loading-content
    top: 50%;
    margin-top: -(($appLoadingContentHeight / 2) + $appLoadingCopyrightHeight);

    .app-loading-logo {

        &,
        img {
            width: $appLoadingLogoWidth;
            height: $appLoadingLogoHeight;
        }

        // the bottom margin should be the "x-height" of the wdesk logo (according to marketing)
        margin-bottom: $appLoadingLogoXheight;
    }

    .progress {
        // the progress bar width should exceed the width of the logo by an amount of "x-height" * 2
        width: $appLoadingLogoWidth + ($appLoadingLogoXheight * 2);
        margin-bottom: 0;
    }
}

.app-loading-copyright {
    bottom: $appLoadingCopyrightMarginTop;
    margin-top: $appLoadingCopyrightMarginTop;
}