//----------------------------------------------------

//+  PARTIAL:  _progress-bars.scss
//+  PARENT:   wdesk.scss

    // related partials:
    //+ "_progress-spinners.scss"

//----------------------------------------------------


//
// Local variables
//
    $progressBarGifWidth:  image-width($progressBarGifUrl);
    $progressBarGifHeight: image-height($progressBarGifUrl);
    $progressBarGifBgSize: ($progressBarGifWidth/2) ($progressBarGifHeight/2);


//
// Bar animations
//
@include keyframes(progress-bar-stripes) {
    from  { background-position: 0 0; }
    to    { background-position: 40px 0; }
}


//
// Bar container
//
.progress {
    position: relative;
    height: $progressBarHeight;
    margin-bottom: $progressBarHeight;
    overflow: hidden;
    background-color: $progressBg; // fallback
    background-color: rgba($black, (darkness($progressBg) / 100%));
    border-radius: $progressBarBdRadius;

    //
    // Bar label
    // overlay text on top of the progress bar
    //
    .progress-label {
        position: absolute;
        right: 0;
        left: 0;
        width: auto;
        height: $progressBarHeight;
        font-size: $progressBarLblFontSize;
        font-weight: $progressBarLblFontWeight;
        line-height: $progressBarHeight; // needs pixel line height since its absolute
        color: $progressBarLblColor;
        text-align: center;
        text-shadow: 0 1px 3px rgba($progressBarLblShdColor, $progressBarLblShdAlpha);
        background-color: transparent;
    }
}


//
// Bar of progress
//
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    background-color: $progressBarBgDefault;
    @include transition(width .6s ease);
}


//
// Size variations
//
@include progressBarSize('sm', $progressBarHeightSm, $progressBarBdRadiusSm, $progressBarLblFontSizeSm);
@include progressBarSize('xs', $progressBarHeightXs, $progressBarBdRadiusXs, $progressBarLblFontSizeXs);


//
// Striped bars
//
.progress.indeterminate {
    .progress-bar {
        // "indeterminate" state of a progress bar implies that the bar is full width
        width: 100%;
        @include experimental(animation, progress-bar-stripes 2s linear infinite);
        @include gradientStriped($progressBarBgDefault);
        @include background-size($progressBarBgSize $progressBarBgSize);

        // ensure the animation isn't running when its not visible (saves on CPU)
        .hide &, &.hide,
        .fade &, &.fade,
        .hide &.in {
            @extend %animation-stop;
        }
        .in &, &.in,
        .show &, &.show {
            @extend %animation-start;
        }

        //
        // barber-pole polyfill for browsers that don't support animations
        // NOTE: Modernizr.js required
        //
        .no-cssanimations & {
            background: image-url($progressBarGifUrl) left top repeat-x !important;
            @include background-size($progressBarGifBgSize !important);
            // don't animate the .gif fallback
            @include experimental(animation, none);
        }
    }
}


//
// States
//
$n: 1 !global;
@each $state in $states_min {
    $bgColor: nth($progressBgs, $n);

    .progress-bar-#{$state} {
        background-color: $bgColor;

        .progress.indeterminate & {
            @include gradientStriped($bgColor);

            .no-cssanimations & {
                //
                // barber-pole polyfill for browsers that don't support animations
                // NOTE: Modernizr.js required
                //
                background-image: image-url("animated/wdesk-barberpole_#{$state}.gif") !important;
            }
        }
    }

    $n: $n + 1 !global;
}
