//----------------------------------------------------

//+  PARTIAL:  _type.scss
//+  PARENT:   wdesk.scss

    // related partials:
    //+ "_fonts.scss"
    //+ "_code.scss"

//----------------------------------------------------


//
// Body text
//
p {
    margin: 0 0 round($lineHeightBasePx / 2);
}

.lead {
    margin-bottom: $lineHeightBasePx;
    font-family: $webfontSansSerif;
    font-size: $fontSizeLead;
    font-weight: $webfontWeightLt;
    line-height: $lineHeightLarge;

    @if $gibsonWebfontSupport {
        strong,
        .text-bold {
            font-weight: normal;
        }
    }
}


//
// Emphasis & misc
//
small,
.text-sm  {
    font-size: percentage($fontSizeModifierSmall);
}

.text-md  {
    font-size: $fontSizeMedium;
    // using a percentage font-size within .text-md makes the font too small
    small,
    .text-sm {
        font-size: $fontSizeSmall; // force 12px
    }
}

.text-lg  {
    font-size: $fontSizeLarge;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

cite {
    font-style: normal;
}

//+
//+ NOTE: Contextual color emphasis and
//+       text alignment classes can be found in "_utilities.scss"
//+


//
// Headings
//
@include wdeskHeadings;


//
// Page header
//
.page-header {
    padding-bottom: (($lineHeightBasePx / 2) - 1);
    margin: ($lineHeightBasePx * 2) 0 $lineHeightBasePx;
    border-bottom: $headingBdWidth solid $headingBdColor;
    @include clearfix;

    small {
        // space apart from the heading a bit
        display: inline-block;
        @include ie7-inline-block;
        // slightly more drastic shrinkage in font size
        font-size: floor($fontSizeSmallPct - 20);
        text-indent: round($lineHeightBasePx / 2);
    }
}


//
// Header link utility class
//
// Makes the text color of an anchor inherit from its parent
// But look like a link when hovered
//
.header-link {
    @extend %header-link;
}


//
// Lists
//
ul,
ol {
    padding: 0;
    margin: 0 0 round($lineHeightBasePx / 2) ($lineHeightBasePx + 5);

    // Nesting
    ul,
    ol {
        margin-bottom: 0;
    }
}

// primary
li {
    line-height: $lineHeightBase;
    // secondary
    li {
        font-size: $fontSizeSmall;
        // tertiary
        li { color: zestyCrayonColor(gray, pastel1); }
    }
}

ol {
    // secondary
    li li {
        list-style-type: lower-alpha;
        // tertiary
        li {
            list-style-type: upper-roman;
        }
    }
}


//
// List options
//
// `.list-unstyled` keeps list items block level, just removes list-style
// `.list-inline` turns list items into inline-block
//
.list-unstyled,
.list-inline {
    padding-left: 0;
    margin-left: 0;
    list-style: none;
}

// Single-line list items
.list-inline > li {
    display: inline-block;
    @include ie7-inline-block;
    padding-right: $spacingBase;
    padding-left: $spacingBase;
}

// Wordy list items need a little more space to keep things legible
.list-wordy > li {
    margin-bottom: round($lineHeightBasePx / 2);
    &:last-child {
        margin-bottom: 0;
    }
}


//
// Description Lists
//
dl {
    margin-top: 0; // remove browser default
    margin-bottom: $lineHeightBasePx;
}
dt {
    font-weight: bold;
    line-height: $lineHeightBase;
}
dd {
    // undo browser default
    margin-left: 0;
    line-height: $lineHeightBase;
}


//
// Horizontal description lists
//
// Defaults to being stacked without any of the below styles applied, until the
// grid breakpoint is reached (default of ~768px).
//
@media (min-width: $gridFloatBreakpoint) {
    .dl-horizontal {
        dt {
            float: left;
            width: $definitionListTermWidth;
            clear: left;
            text-align: right;
            @include textOverflow;
        }

        dd {
            margin-left: $definitionListTermWidth + $lineHeightBasePx;
            @include clearfix; // Clear the floated `dt` if an empty `dd` is present
        }
    }
}


//
// MISC
//

// Horizontal rules
hr {
    @include dividerHorizontal;
}

.hr-vertical {
    @include dividerVertical;
}

// Abbreviations and acronyms
abbr[title],
abbr[data-original-title] {
    cursor: help;
    border-bottom: 1px dotted lighten($textColor, 60%);
    border-bottom: 1px dotted rgba($textColor, .4); // down-level fallback
}
.initialism {
    font-size: 90%;
    text-transform: uppercase;
}

// Blockquotes
blockquote {
    padding: round($lineHeightBasePx / 2) $lineHeightBasePx;
    margin: 0 0 $lineHeightBasePx;
    border-left: $blockquoteBdWidth solid $grayLighter;

    p {
        font-family: $webfontSansSerif;
        font-size: $fontSizeLarge;
        font-weight: $webfontWeightLt;
        line-height: $lineHeightLarge;

        &:last-child {
            margin-bottom: 0;
        }
    }

    small {
        display: block;
        line-height: $lineHeightBase;
        color: $grayLight;

        &:before {
            content: '\2014 \00A0'; // EM DASH, NBSP
        }
    }

    // Float right with text-align: right
    &.pull-right {
        float: right;
        padding-right: ($lineHeightBasePx - $spacingBase);
        padding-left: 0;
        border-right: $blockquoteBdWidth solid $grayLighter;
        border-left: 0;

        p {
            text-align: right;
        }

        small {
            text-align: right;

            &:before {
                content: '';
            }

            &:after {
                content: '\00A0 \2014'; // NBSP, EM DASH
            }
        }
    }
}

// Quotes
q,
blockquote {
    &:before,
    &:after {
        content: "";
    }
}

// Addresses
address {
    display: block;
    margin-bottom: $lineHeightBasePx;
    font-style: normal;
    line-height: $lineHeightBase;
}
