//----------------------------------------------------

//+    PARTIAL:  _utilities.scss
//+    PARENT:   wdesk.scss

//----------------------------------------------------


//
// Misc Utilities
//
    .clip-text {
        display: block;
        @include textOverflow;
    }

    .flush {
        margin: 0;
    }

    .flush-left {
        padding-left: 0 !important;
        margin-left: 0 !important;
    }

    .flush-right {
        padding-right: 0 !important;
        margin-right: 0 !important;
    }

    .affix {
        position: fixed;
    }

    .cursor-disabled {
        cursor: not-allowed;
    }

    .cursor-move {
        cursor: move;
    }

    .cursor-default {
        cursor: default;
    }

    .cursor-pointer {
        cursor: pointer;
    }

    .block-center {
        @include blockCenter;
    }

    .no-text {
        // typically used in buttons or nav items
        // to ensure the icon aligns in the center
        text-align: center;

        .icon {
            margin-right: 0 !important;
        }
    }

    .text-left   {
        text-align: left !important;
    }

    .text-right  {
        text-align: right !important;
    }

    .text-center {
        text-align: center !important;
    }

    .text-uppercase  {
        text-transform: uppercase !important;
    }

    .text-lowercase  {
        text-transform: lowercase !important;
    }

    .text-capitalize {
        text-transform: capitalize !important;
    }


//
// Floats
//
    .clearfix {
        @include clearfix;
    }

    .pull-right {
        float: right;
    }

    .pull-left {
        float: left;
    }


//
// Toggling content
//
    .hide {
        display: none !important;
        // if an element has .hide - don't show the pseudo classes either
        &:before,
        &:after {
            display: none !important;
        }
    }

    .show {
        display: block !important;
        // if an element has .hide - don't show the pseudo classes either
        &:before,
        &:after {
            display: block !important;
        }
    }

    .invisible,
    .hidden {
        visibility: hidden;
    }

    // image replacement
    .text-hide {
        @include hideText;
    }

    // angular cloaking
    [ng-cloak],
    [data-ng-cloak],
    .ng-cloak {
        display: none;

        &.show {
            display: block !important;
        }
    }

    // hide empty angular elems
    span.ng-scope,
    div.ng-scope {
        &:empty {
            display: none !important;
        }
    }


//
// Toggling animations
//
    .play,
    .play * {
        @extend %animation-start;
    }

    .pause,
    .pause *
    .stop,
    .stop * {
        @extend %animation-stop;
    }


//
// Overflow for scrolling elements
//
    // normalize
    @mixin normalizeScroll { overflow: none; }

    // AUTO (show scrollbars on-demand)
    .scroll-x {
        @include normalizeScroll;
        overflow-x: auto;
    }

    .scroll-y {
        @include normalizeScroll;
        overflow-y: auto;
    }

    .scroll {
        @include normalizeScroll;
        overflow: auto;
    }

    // SCROLL (always show scrollbars)
    .scroll-x-force {
        @include normalizeScroll;
        overflow-x: scroll;
    }

    .scroll-y-force {
        @include normalizeScroll;
        overflow-y: scroll;
    }

    .scroll-force {
        @include normalizeScroll; overflow: scroll;
    }


//
// Muted text modifiers
//
// .text-muted will "mute" any color its applied to
// based on the color the text already has
//
    .text-muted {
        // muted body copy
        color: mute($color: $textColor);

        // muted links
        .btn-link,  &.btn-link,  .btn-link &,
        .text-link, &.text-link, .text-link &,
        [href],     &[href],     [href] & {
            color: mute($color: $linkColor);

            #{$linkHoverFocus} {
                color: mute($color: $linkColorHover);
            }
        }

        // muted text within navs
        .list-group .hitarea &,
        .list-group &.hitarea {
            color: mute($color: $listGroupLinkColor);

            #{$linkHoverFocus} {
                color: mute($bg: $listGroupBgHover, $color: $listGroupColorHover);
            }
        }

        .nav .hitarea &,
        .nav &.hitarea {
            color: mute($color: $navLinkColor);

            #{$linkHoverFocus} {
                color: mute($color: $navLinkColor);
            }
        }

        // muted text within blue-bg navs
        .dropdown-menu .hitarea &,
        .dropdown-menu &.hitarea,
        .nav-list .hitarea &,
        .nav-list &.hitarea {
            color: mute($color: $menuVLinkColor);

            #{$linkHoverFocus} {
                color: mute($bg: $menuVLinkBgHover, $color: $menuVLinkColorHover);
            }
        }
    } // END .text-muted


//
// Utility State Color Classes for Background / Text
//
    $n: 1 !global;
    @each $state in $states_min {

        $stateBg: nth($state_min_bgs, $n);
        $stateBgHover: darken($stateBg, $linkColorHoverShift);
        $stateColor: nth($state_min_colors, $n);

        // Background Colors
        .bg-#{$state} {
            background-color: $stateBg !important;

            &.hitarea,
            &[href] {
                #{$linkHoverFocus} {
                    background-color: $stateBgHover !important;
                }
            }
        }

        // Text Colors
        .text-#{$state} {
            color: $stateColor !important;

            // muted state-specific links
            .text-muted,
            &.text-muted,
            .text-muted & {
                color: mute($color: $stateColor) !important;
            }
        }

        $n: $n + 1 !global;
    }

    // "highlighted" text bgcolors
    .text-highlighted {
        @extend %text-highlighted;
    }

    strong.text-highlighted {
        font-weight: normal;
    }

    // "main" color palette classes for text
    @each $swatch in $wf_paletteAxisX {
        $zestyColor: zestyCrayonColor($swatch, main);
        .text-#{$swatch} {
            color: $zestyColor !important;

            // muted zesty colors
            .text-muted,
            &.text-muted,
            .text-muted & {
                color: mute($color: $zestyColor) !important;
            }
        }
    }

    // WFML doctype classification bg/text colors (primarily used for labels)
    .bg-doctype-gray            { background-color: $secDoc_Gray !important; }
    .bg-doctype-green           { background-color: $secDoc_Green !important; }
    .bg-doctype-orange          { background-color: $secDoc_Orange !important; }
    .bg-doctype-red             { background-color: $secDoc_Red !important; }
    .bg-doctype-purple          { background-color: $secDoc_Purple !important; }
    .bg-doctype-purple-dark     { background-color: $secDoc_PurpleDk !important; }
    .bg-doctype-teal            { background-color: $secDoc_Teal !important; }
    .bg-doctype-blue            { background-color: $secDoc_Blue !important; }
    .bg-doctype-blue-light      { background-color: $secDoc_BlueLt !important; }

    .text-doctype-gray          { color: $secDoc_Gray !important; }
    .text-doctype-green         { color: $secDoc_Green !important; }
    .text-doctype-orange        { color: $secDoc_Orange !important; }
    .text-doctype-red           { color: $secDoc_Red !important; }
    .text-doctype-purple        { color: $secDoc_Purple !important; }
    .text-doctype-purple-dark   { color: $secDoc_PurpleDk !important; }
    .text-doctype-teal          { color: $secDoc_Teal !important; }
    .text-doctype-blue          { color: $secDoc_Blue !important; }
    .text-doctype-blue-light    { color: $secDoc_BlueLt !important; }


//
// BROWSER FEATURE SUPPORT UTILITIES
//
// *** These Require Modernizr.js ***
//
    // fix the ios orientation change
    // bug that shifts the html elem
    // to the left
    .touch html {
        position: fixed;
        width: 100%;
    }

    // don't display this since the
    // fallback text within the <video>
    // tag will show instead.
    .novideo {
        .video-help { display: none; }
    }


//
// BROWSER/OS SUPPORT UTILITIES
//
// *** These Require ua-sniffer.js ***
//
    // not a mobile device
    .desktop_laptop {
        // don't highlight links that the device cannot execute
        [href^="tel"] {
            cursor: default;
            text-decoration: none;
            color: inherit !important;
        }
    }


//
// "ORIGIN" TOUCH UTILITIES
//
    @import "_utilities-touch-xy.scss";
