/*!
 * -------------------------------------
 * Web Skin Peripheral CSS for Beta Icons
 * ---
 * MSIE Support: 7
 * Touch UI Support: false
 * ---
 * Requires
 *   web-skin Core CSS for MSIE 8
 * ---
 * Copyright 2014 Workiva
 * -------------------------------------
 */


// ----------------------------------------------------
//   Web Skin Core API
// ----------------------------------------------------
    @import "core/api";


// ----------------------------------------------------
//   PUA DECLARATIONS
// ----------------------------------------------------
    // BASE 16
    .icon-file-dt-beta:before {
        content: "\e602";
    }
    .icon-file-dc-beta:before {
        content: "\e603";
    }

    // BASE 24
    .icon-twfr-workspaces:before {
        content: "\e674";
    }
    .icon-twfr-file-dt-beta:before {
        content: "\e604";
    }
    .icon-twfr-file-dc-frozen-beta:before {
        content: "\e605";
    }
    .icon-twfr-file-dc-draft-beta:before {
        content: "\e606";
    }
    .icon-twfr-file-dc-beta:before {
        content: "\e607";
    }


// ----------------------------------------------------
//   COLORS
// ----------------------------------------------------
    @mixin icon-twfr-file-dc-frozen-beta-glyph2 {
        content: "\e633";
    }
    @mixin icon-twfr-file-dc-draft-beta-glyph2 {
        content: "\e634";
    }

    .icon-two-color {
        &.icon-twfr-file-dc-frozen-beta {
            &:before {
                color: color('doctypes.wfml-wb.darker') !important;
            }
            &:after {
                color: $zc-gray !important;
                @include icon-twfr-file-dc-frozen-beta-glyph2;
            }
        }
        &.icon-twfr-file-dc-draft-beta {
            &:before {
                color: color('doctypes.wfml-wb.darker') !important;
            }
            &:after {
                color: $zc-gray !important;
                @include icon-twfr-file-dc-draft-beta-glyph2;
            }
        }
    }

    .icon-color {
        &[class*="file-dc-beta"],
        &[class*="file-dt-beta"] {
            &:before {
                color: color('doctypes.wfml-wb.darker') !important;
            }
        }
    }
