//----------------------------------------------------

//+  PARTIAL:  _constants/_zesty-crayon/_palette.scss
//+  PARENT:   _constants/_zesty-crayon/_manifest.scss

//----------------------------------------------------

//
// WF Grays ("Secondary")
//
$wf_gray:           #595959;
$wf_gray_dk:        #444;
$wf_gray_lt:        #707070;
$wf_gray_lt2:       #8a8a8a;
$wf_gray_lt3:       #b2b2b2;
    $wf_gray_ps1:   $wf_gray_lt3;
$wf_gray_lt4:       #cbcbcb;
$wf_gray_lt5:       #e3e3e3;
    $wf_gray_ps2:   $wf_gray_lt5;
$wf_gray_lt6:       #f3f3f3;


//
// WF Greens ("Primary")
//
// These all read from left to right when looking at the style guide matrix
//
$wf_green_alt2:     #0f7f40;
$wf_green_alt:      #42ad48;
$wf_green:          #66cc00;
// Darker
$wf_green_dk_alt2:  #113f1e;
$wf_green_dk_alt:   #246130;
$wf_green_dk:       #339900;
// Lighter
$wf_green_lt_alt2:  #6abd5e;
$wf_green_lt_alt:   #9acc6d;
$wf_green_lt:       #9bd83a;
// Pastel 1
$wf_green_ps1_alt2: #9dd394;
$wf_green_ps1_alt:  #c0dda2;
$wf_green_ps1:      #bfe577;
// Pastel 2
$wf_green_ps2_alt2: #d5ead0;
$wf_green_ps2_alt:  #e5efd9;
$wf_green_ps2:      #dcf2b7;


//
// WF Blues ("Alternate")
//
$wf_blue:           #0094ff;
$wf_blue_dk:        #026dce;
$wf_blue_lt:        #46b5f9;
$wf_blue_ps1:       #8cd6f4;
$wf_blue_ps2:       #c5e8f9;


//
// WF Orange ("Warning")
//
$wf_orange:         #fbad17;
$wf_orange_dk:      #f26c21;
$wf_orange_lt:      #fcda04;
$wf_orange_ps1:     #f9e68a;
$wf_orange_ps2:     #f9efc7;


//
// WF Purple ("University/Help")
//
$wf_purple:         #813296;
$wf_purple_dk:      #491f60;
$wf_purple_lt:      #af76b3;
$wf_purple_ps1:     #caa4cc;
$wf_purple_ps2:     #e3d0e5;


//
// WF Red ("Danger/Error")
//
$wf_red:            #ee2724;
$wf_red_dk:         #a71819;
$wf_red_lt:         #ff5537;
$wf_red_ps1:        #ff7368;
$wf_red_ps2:        #ffa29b;


//
// Annotations
//
$wf_yellow_highlight: mix(#fff, $wf_orange_lt, 50%);
$wf_orange_highlight: $wf_orange;

$defaultAnnotationsColor: $wf_orange_highlight;


//
// DOCTYPES
//
$pdf_red:           $wf_red;
$xls_green:         $wf_green;
$ppt_orange:        $wf_orange;
$doc_blue:          $wf_blue;

$wfmlWorkbook_green:    $wf_green;
$wfmlWorkbook_greenDk:  $wf_green_alt;

$secDoc_Gray:       $wf_gray_lt2;
$secDoc_Green:      $wf_green_lt_alt2;
$secDoc_Orange:     $wf_orange;
$secDoc_Red:        $wf_red_lt;
$secDoc_Purple:     $wf_purple_lt;
$secDoc_PurpleDk:   #A702CE;
$secDoc_Teal:       #00CEAE;
$secDoc_Blue:       $wf_blue_dk;
$secDoc_BlueLt:     $wf_blue_lt;
// store the doctype colors in an array


    // TODO: deprecate / remove in 0.5.0
    $wfmlDoc_green:     $wf_green;
    $wfmlDoc_greenDk:   $wf_green_alt;
    $wfmlDoc_blue:      $wf_blue;
    $secDoc_BlueDk:     $wf_blue_dk;
    $wfmlDoc_orange:    $wf_orange;
    $wfmlDoc_red:       $wf_red;
    $wfmlDoc_redDk:     #CE002A;
    $secDoc_redDk:      $wfmlDoc_redDk;
    $wfmlDoc_purple:    #A702CE;
    $wfml_LightGreen:   $wf_green;
    // END deprecated color palette vars


//
// Misc
//
$wf_blue_selectBgBase:     $wf_blue_ps2;
$wf_blue_selectBgHover:    mix($wf_blue_selectBgBase, #fff, 25%); // #f0f9fd
$wf_blue_selectBgPress:    mix($wf_blue_selectBgBase, #fff, 35%);
$wf_blue_selectBgActive:   mix($wf_blue_selectBgBase, #fff, 50%); // #e2f3fc

$wf_blue_selectTextHover:  desaturate(mix($wf_blue_dk, $wf_gray_dk, 35%), 50); // #
$wf_blue_selectTextPress:  desaturate(mix($wf_blue_dk, $wf_gray_dk, 20%), 50); // #
$wf_blue_selectTextActive: desaturate(mix($wf_blue_dk, $wf_gray_dk, 10%), 50); // #
