//----------------------------------------------------

//+  PARTIAL:  _constants/_icon-reference.scss
//+  PARENT:   _constants/_wdesk-manifest.scss

    // related partials:
    //+ "../_icons.scss"
    //+ "../_transition-reference.scss"
    //+ "../_defaults.scss"

//----------------------------------------------------

    //
    // iconPua mixin
    //
    // Used to create IE7-compatible icons
    //
    @mixin iconPua($code) {
        // remove the \ from the pua to get the code only
        $code:          unquote($code);
        $codeLn:        str-length($code);
        $sl:            unquote(#{'\e'});
        $slLn:          str-length($sl);
        $slIdx:         str-index($code, $sl) + $slLn;
        $rawCode:       unquote(str-slice($code, $slIdx, $codeLn));
        $codeContent:   "#{$sl}#{$rawCode}";
        $codeHTML:      "&#xe#{$rawCode}";

        &:before {
            content: "#{$code}";
        }
        @if $ie-support and $min-ie-supported < 8 and $ie7-icon-support {
            *zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '#{$codeHTML};');
        }
    }


//
// ICONS
//
    @mixin icon-main {
        font-family: $mainIconsFont;
        font-size: $baseIconSize;
        line-height: inherit; // make sure :before / :after glyphs are not cut off
    }
    @mixin icon-doctype {
        font-family: $doctypeIconsFont;
    }
    @mixin icon-color {
        &:after {
            font-family: $colorIconsFont;
        }
    }

    @mixin icon-pseudo-glyph {
        position: absolute;
        top: $iconPseudoShiftY;
        left: 0;
        display: block;
        width: inherit;
        height: inherit;
        text-align: center;
        color: inherit;
        font-size: inherit;
        line-height: $baseIconSize;
    }

    // base 16
    @mixin icon-sm {
        width:     $iconSmallSize;
        height:    $iconSmallSize;
        font-size: $iconSmallSize;
        &:before,
        &:after { line-height: $iconSmallSize; }
    }
    @mixin icon-md {
        width:     $iconMediumSize;
        height:    $iconMediumSize;
        font-size: $iconMediumSize;
        &:before,
        &:after { line-height: $iconMediumSize; }
    }
    @mixin icon-lg {
        width:     $iconLargeSize;
        height:    $iconLargeSize;
        font-size: $iconLargeSize;
        &:before,
        &:after { line-height: $iconLargeSize; }
    }
    @mixin icon-huge {
        width:     $iconHugeSize;
        height:    $iconHugeSize;
        font-size: $iconHugeSize;
        &:before,
        &:after { line-height: $iconHugeSize; }
    }
    @mixin icon-gigantic {
        width:     $iconGiganticSize;
        height:    $iconGiganticSize;
        font-size: $iconGiganticFontSize;
        &:before,
        &:after { line-height: $iconGiganticSize; }
    }

    // base 24
    @mixin icon-sm-24 {
        width:     $iconSmallSizeBase24;
        height:    $iconSmallSizeBase24;
        font-size: $iconSmallSizeBase24;
        &:before,
        &:after { line-height: $iconSmallSizeBase24; }
    }
    @mixin icon-md-24 {
        width:     $iconMediumSizeBase24;
        height:    $iconMediumSizeBase24;
        font-size: $iconMediumSizeBase24;
        &:before,
        &:after { line-height: $iconMediumSizeBase24; }
    }
    @mixin icon-lg-24 {
        width:     $iconLargeSizeBase24;
        height:    $iconLargeSizeBase24;
        font-size: $iconLargeSizeBase24;
        &:before,
        &:after { line-height: $iconLargeSizeBase24; }
    }
    @mixin icon-huge-24 {
        width:     $iconHugeSizeBase24;
        height:    $iconHugeSizeBase24;
        font-size: $iconHugeSizeBase24;
        &:before,
        &:after { line-height: $iconHugeSizeBase24; }
    }
    @mixin icon-gigantic-24 {
        width:     $iconGiganticSizeBase24;
        height:    $iconGiganticSizeBase24;
        font-size: $iconGiganticSizeBase24;
        &:before,
        &:after { line-height: $iconGiganticSizeBase24; }
    }


//
// SPINNERS
//
    %spinner-sm {
        width:  $spinnerSmallSize;
        height: $spinnerSmallSize;
    }
    %spinner-md {
        width:  $spinnerMediumSize;
        height: $spinnerMediumSize;
    }
    %spinner-lg {
        width:  $spinnerLargeSize;
        height: $spinnerLargeSize;
    }
    %spinner-huge {
        width:  $spinnerHugeSize;
        height: $spinnerHugeSize;
    }
    %spinner-gigantic {
        width:  $spinnerGiganticSize;
        height: $spinnerGiganticSize;
    }