//----------------------------------------------------

//+     PARTIAL:  _constants/_mixins-chisels.scss
//+     PARENT:   _mixins.scss

//----------------------------------------------------

@mixin chiselBorder($bgColor, $bdWidth, $direction: "down") {
    $topBorder:  if($direction == "down", darken($bgColor, 14%), lighten($bgColor, 20%));
    $sideBorder: if($direction == "down", darken($bgColor, 4%),  lighten($bgColor, 7%));
    $botBorder:  if($direction == "down", lighten($bgColor, 7%), darken($bgColor, 12%));

    border-width: $bdWidth $bdWidth $bdWidth $bdWidth;
    border-style: solid solid solid solid;
    border-color: $topBorder $sideBorder $botBorder $sideBorder;
}

@mixin chiseledIcon(
      $bgColor
    , $depth:       "deep"
    , $isImportant: false
    , $colorize:    false
    , $shadowOnly:  false
) {
    // determine whether we should darken or lighten the icon color
    // compared to the bgColor based on the contrast settings of the skin

    $icoColor: transparentize(if($colorize == false, chisel($bgColor, "", $depth, "icon"), $colorize), 1 - $textShadow_alpha - .1);

    @if not $shadowOnly {
        color: $icoColor if($isImportant == true, !important, #{''});
        text-shadow:
              #{$chisel_ico_shadow} lighten($bgColor, 5)
            , #{$chisel_ico_midShadow} darken($icoColor, $chisel_ico_darken) if($isImportant == true, !important, #{''});
    } @else {
        text-shadow: #{$chisel_ico_shadow} darken($icoColor, $chisel_ico_darken) if($isImportant == true, !important, #{''});
    }
    // inset the icon text-shadow by using the same color as the bgColor

    // don't show shadows when selecting the text
    @if $mozilla-support {
        ::-moz-selection {
            background: transparent;
            color: inherit;
            text-shadow: none !important;
        }
    }
    ::selection {
        background: transparent;
        color: inherit;
        text-shadow: none !important;
    }
} // END chiseledIcon

@mixin chiseledIconStates(
      $bg:              $menuVLinkBg
    , $bgHover:         $menuVLinkBgHover
    , $bgPressed:       $menuVLinkBgPressed
    , $bgActive:        $menuVLinkBgSelected
    , $childElem:       "a"
    , $hoverSelector:   $hover
) {

    @if $bg != false {
        .icon {
            @include chiseledIcon($bgColor: $bg);
        }
    }
    @if $bgHover != false {
        #{$hoverSelector} .icon {
            @include chiseledIcon($bgColor: $bgHover);
        }
    }
    @if $bgPressed != false {
        #{$childElem} {
            .no-touch &:active {
                .icon {
                    @include chiseledIcon($bgColor: $bgPressed);
                }
            }
        }
    }
    @if $bgActive {
        &.active, &.ui-selected {
            &,
            #{$hoverSelector} {
                .icon {
                    @include chiseledIcon($bgColor: $bgActive);
                }
            }
        }
    }

} // END @mixin chiseledIconStates

@mixin chiseledButtonText($bgColor) {
    @include chiseledIcon($bgColor: $bgColor, $colorize: $bgColor, $shadowOnly: true);
} // END @mixin chiseledButtonText($bgColor)