//
// Outline buttons for use within the docs
//

.btn-outline {
    $outlineColor: lighten($btnColorDefault, 20);
    color: $outlineColor;
    background-color: transparent;
    border: $btnBdWidth solid $outlineColor;
    border-bottom-width: $btnBdWidth !important; // no depth / punchable state
    box-shadow: none !important;

    #{$linkHoverFocus} {
        &,
        &:active {
            color: $white;
            background-color: $outlineColor;
            background-image: none;
            border-color: $outlineColor;
            top: 0; // no "depth" shift
        }
    }
}


// Special variation for home page of docs
//
// (white on dark)
//
.home {
    .btn-outline {
        color: #fff;
        background-color: transparent;
        border-color: $docsNavbarLinkColor;

        #{$linkHoverFocus} {
            &,
            &:active {
                color: $docsNavbarBgLt;
                text-shadow: none;
                background-color: #fff;
                border-color: #fff;
            }
        }
    }
}