$docsOptionsMenuBg: $docsNavbarBgDk;
$docsOptionsNavHeight: 180px;

// basic / advanced "tab" nav
$tabNavWidth: 175px;
$tabNavOffsetTop: $docsSpacingMd;
$tabNavItemHeight: $btnHeightSmall;
$tabNavItemBdColor: $docsNavbarCollapsingMenuSecondaryLinkBgActive;
$tabNavItemBdWidth: 1px;

$tabContentHeight: $docsOptionsNavHeight - ($tabNavOffsetTop + $tabNavItemHeight);

.wdesk-docs-navbar.docs-options {
    background-color: $docsOptionsMenuBg;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
    z-index: $zindexFixedNavbar;

    // hidden
    top: $docsNavbarHeight - $docsOptionsNavHeight;

    // showing
    &.in {
        top: $docsNavbarHeight;
    }

    .container {
        min-height: $docsOptionsNavHeight;
    }

    .navbar-nav.nav-blocks {
        position: relative !important;
    }

    //
    // TABBABLE (basic / advanced)
    //
    .tabbable {
        position: relative;
        > .nav-stripe {
            position: absolute;
            left: 0;
            right: 0;
            // left: $gridGutterWidth;
            // right: $gridGutterWidth;
            top: $tabNavOffsetTop + ($tabNavItemHeight / 2); // center so it "strikes" through the pills
            height: $tabNavItemBdWidth;
            background-color: transparentize($tabNavItemBdColor, .8);
        }
        > .nav {
            width: $tabNavWidth;
            height: $tabNavItemHeight;
            position: relative;
            top: $tabNavOffsetTop;
            left: 50%;
            margin: 0 0 0 (-(round($tabNavWidth / 2)));
            border-radius: $borderRadiusBase;
            box-shadow: 0 0 0 2px $docsOptionsMenuBg;

            > li {
                color: inherit;

                > .hitarea {
                    height: $tabNavItemHeight !important;
                    line-height: 1;
                    margin: 0;
                    color: $tabNavItemBdColor !important;
                    background-color: $docsOptionsMenuBg !important;
                    border: $tabNavItemBdWidth solid $tabNavItemBdColor;
                    border-right-width: 0;
                    border-radius: 0;

                    #{$linkHoverFocus} {
                        background-color: $docsNavbarCollapsingMenuSecondaryLinkBgHover !important;
                    }
                }

                &:first-child {
                    > .hitarea {
                        @include border-left-radius($borderRadiusBase);
                    }
                }
                &:last-child {
                    > .hitarea {
                        @include border-right-radius($borderRadiusBase);
                        border-right-width: $tabNavItemBdWidth;
                    }
                }

                &.active > .hitarea,
                > .hitarea.open,
                .hitarea#{$linkPressedInline} {
                    color: $docsNavbarCollapsingMenuSecondaryLinkColorActive !important;
                    background-color: $docsNavbarCollapsingMenuSecondaryLinkBgActive !important;
                    box-shadow: none !important;
                }
            }
        }
        > .tab-content {
            $tabContentPad: ($gridGutterWidth / 2);
            width: 100%;
            clear: both;
            padding: ($tabContentPad + 5) 0 ($tabContentPad - 5);
        }
    }

    //
    // OPTIONS FORM
    //
    $docOptionElemShadow: inset 0 1px 1px rgba($black,.015), 0 1px 0 rgba($white,.035);

    $optionsLabelColor: contrast-color($docsOptionsMenuBg);
    $optionsInputHeight: $inputHeightBase;

    $docsOptionsDdBg: darken($docsOptionsMenuBg, 5);
    $docsOptionsDdCaretColor: $docsNavbarCollapsingMenuSecondaryLinkColor;

    $optionsCboxHeight: $lineHeightBasePx;
    $optionsCheckmarkWidth: 9px;
    $optionsCheckmarkHeight: 5px;
    $optionsCheckmarkBdWidth: 3px;
    $valignMiddleCheckmark: round(($optionsCboxHeight - ($optionsCheckmarkWidth + $optionsCheckmarkBdWidth)) / 2);
    $valignMiddleCbox: round(($optionsInputHeight - $optionsCboxHeight) / 2);

    .form-inline {
        margin: 0;
        color: $optionsLabelColor;

        .doc-option-container {
            display: inline-block !important;
            margin: 0 $docsSpacingBase 0 0;
            padding: 0;
            text-align: left;

            &.flush-right {
                margin-right: $docsSpacingSm !important;
            }
        }

        .doc-option-label {
            margin: 0;
            display: inline-block !important;
            vertical-align: top;
            line-height: $optionsInputHeight;
            height: $optionsInputHeight;
            font-family: $fontFamilyBase;
            font-weight: normal;

            &.doc-option-cbox-label {
                font-size: $fontSizeSmall;
                color: mix($docsOptionsMenuBg, $optionsLabelColor, 25%);

                &:hover,
                &.active {
                    color: $optionsLabelColor;
                }
            }
        }

        .option-checkbox,
        .form-control {
            margin-top: 0 !important;
            margin-left: $docsSpacingSm;
            display: inline-block;
        }

        // CUSTOM COLORS / SPACING FOR DROPDOWNS
        .chosen-container-single {
            &.dev-design-container {
                width: 145px !important; // so the entire sentence doesn't shift right when we switch between dev/design.
            }

            .btn {
                @include box-shadow(#{$docOptionElemShadow} !important);
                background-color: $docsOptionsDdBg;
                border-color: $docsOptionsDdBg;

                // text
                span {
                    color: $docsNavbarCollapsingMenuSecondaryLinkColor;
                }

                .caret {
                    border-top-color: $docsOptionsDdCaretColor;
                    border-bottom-color: $docsOptionsDdCaretColor;
                }
            }
            // button hover / opened dropdown
            &.open .btn,
            .btn#{$hoverInline},
            .btn#{$linkFocusInline} {
                // border-color: $tabNavItemBdColor;
                span {
                    color: $docsNavbarCollapsingMenuLinkColor;
                }

                .caret {
                    border-top-color: $tabNavItemBdColor;
                    border-bottom-color: $tabNavItemBdColor;
                }
            }

            &.open .btn {
                @include border-bottom-radius(0);
            }

            .dropdown-menu {
                width: 100%;
                margin-top: 0;
                margin-left: 0; // since there's no left/right border
                background-color: $docsOptionsDdBg;
                border: 0 none;
                border-top: 1px solid $docsOptionsMenuBg;
                @include border-top-radius(0);
                @include box-shadow(none);

                .chosen-results li {
                    color: $docsNavbarCollapsingMenuSecondaryLinkColor;

                    //
                    // HOVER
                    //
                    &.highlighted {
                        color: $docsNavbarCollapsingMenuLinkColor;
                        background-color: $docsNavbarCollapsingMenuSecondaryLinkBgHover;
                    }
                }
            }
        }

        // CUSTOM STYLES FOR CHECKBOXES IN OPTIONS MENU
        .option-checkbox {
            display: inline-block;
            width: $optionsCboxHeight;
            height: $optionsCboxHeight;
            margin-right: $docsSpacingSm;
            position: relative;

            &.right {
                margin-right: 0;
                margin-left: $docsSpacingSm;
            }

            .checkmark {
                display: block;
                cursor: pointer;
                position: absolute;
                width: $optionsCboxHeight;
                height: $optionsCboxHeight;
                top: $valignMiddleCbox;
                border-radius: $borderRadiusBase;
                background-color: $docsOptionsDdBg;
                @include box-shadow(#{$docOptionElemShadow});

                // CHECKMARK
                &:after {
                    position: absolute;
                    top: $valignMiddleCheckmark;
                    left: $valignMiddleCheckmark;
                    width: $optionsCheckmarkWidth;
                    height: $optionsCheckmarkHeight;
                    background: transparent;
                    border: $optionsCheckmarkBdWidth solid $docsNavbarCollapsingMenuLinkColor;
                    border-top: none;
                    border-right: none;
                    content: '';

                    @include opacity(0);
                    @include experimental(transform, rotate(-45deg));
                }
            }

            input[type=checkbox] {
                margin: ($valignMiddleCbox * 2) 0 0 1px;

                &:focus {
                    outline: none !important;
                }
                &:checked {
                    + .checkmark:after {
                        @include opacity(1);
                    }
                }
            }

        } // END .option-checkbox

        .doc-option-cbox-label {
            &:hover {
                .option-checkbox .checkmark:after {
                    @include opacity(.3);
                }
            }
        }


        // GROUPS OF ADVANCED OPTIONS
        fieldset {

            &.valign-middle {
                margin-top: round($tabContentHeight / 2) - $optionsInputHeight;
            }

            legend {
                padding: 0;
                margin: 0;
                font-family: $fontFamilyBase;
                font-size: 16px;
                line-height: $optionsInputHeight;
                color: inherit;
                text-align: right;
                white-space: nowrap;
                border: 0 none;
                // make sure if the legend overflows the grid container that e'thing remains right-aligned
                text-indent: -#{$gridGutterWidth / 2};
            }
        }
    }
}
.docs-options-backdrop {
    z-index: $zindexFixedNavbar - 1;
}
// popover that prompts the user about the new options feature
.popover-options-navbar {
    margin-top: 6px !important; // overlap the navbar a bit
    z-index: $zindexFixedNavbarDocs + 1;

    .inner {
        max-width: none;

        p:last-child {
            margin-bottom: 0;
        }
    }
}