.glyph {
    @include makeXsColumn(3);

    padding-top: 15px;
    min-height: 176px;
    font-size: 16px;
    float: left;
    text-align: center;
    background: $almostWhite;
    border: 1px solid zestyCrayonColor(gray, pastel2);
    position: relative;
}
.glyph .mls,
.glyph .svg-filename {
    font-size: $fontSizeMedium;
    line-height: normal;
    display: block;
    clear: both;

    small {
        font-size: $fontSizeSmall;
        font-style: italic;
        @include opacity(.7);
        margin-top: -$lineHeightBasePx;
        display: block;
        margin-bottom: -#{$fontSizeSmall - 2};
    }
}
.glyph .mls {
    margin: 15px -15px 0 -15px;
    padding: 5px 0 0 0;
    min-height: 20px; // so that icon names that break to a second line doesn't break the layout
}
.glyph .mls label code {
    white-space: normal;
}
.glyph .svg-filename {
    position: absolute;
    width: auto;
    right: 5px;
    bottom: 5px;

    .btn {
        width: auto;
        border-color: transparent;

        .icon-base {
            top: 0;
        }
    }
}

.glyph .fs0 { display: none; }

@if $twoColorSecDoctypeIcons == false {
    .sec-twocolor-glyph-example { display: none; }
}