//----------------------------------------------------

//+  PARTIAL:  _constants/_ua-media/_responsive-device-helpers.scss
//+  PARENT:   _constants/_ua-media/_manifest.scss

    // related partial(s):
    //+ "_screens-and-devices.scss"
    //+ "../../_responsive.scss"

//----------------------------------------------------

//
// Global Size / Resolution / Density Values
//
$mdpiRatio:                 1.3250000476837158 !default;
$hdpiRatio:                 1.5 !default;
$retinaRatio:               2 !default;
// device sizes
$iPhoneMinDW:               320px !default;
$iPhoneMaxDW:               $screenPhone !default;
$iPadMinDW:                 $screenTablet !default;
$iPadMaxDW:                 1024px !default;
$nex7MinDW:                 800px !default;
$nex7MaxDW:                 1280px !default;

$smartPhoneMinDW:           320px !default;
$smartPhoneMaxDW:           $screenPhone !default;

// bucket breakpoints
// vars represent a max breakpoint and all values LESS than.
$phoneLandscape:            $iPhoneMaxDW !default;
$tabletPortrait:            $iPadMinDW - 1 !default;
$smallDesktop:              $iPadMaxDW + 1 !default;
$largeDesktop:              1824px !default;
$landscape-orientation: "only screen and (orientation #{$cl} landscape)";
$portrait-orientation: "only screen and (orientation #{$cl} portrait)";


//
// Responsive Size / Resolution Variables and Functions
//
@function dpr($prefix: '-w'){
    $dprSuffix: 'device-pixel-ratio' !default;
    $dprVar: '';
    @if $prefix == '-w' { $dprVar: '-webkit-min-#{$dprSuffix}'; }
    @if $prefix == '-o' { $dprVar: '-o-min-#{$dprSuffix}'; }
    @if $prefix == '-m' { $dprVar: 'min--moz-#{$dprSuffix}'; }
    @if $prefix == ''   { $dprVar: 'min-#{$dprSuffix}'; }
    @return $dprVar;
}

@function calcOperaRatio($ratio: 1){
    // since opera has to see it as a fraction...
    $opDenominator: 2; // bottom half of the division
    $opNumerator: $ratio * $opDenominator;
    $opRatio: #{$opNumerator}/#{$opDenominator};
    //@debug "operaRatio: #{$opRatio}";
    @return $opRatio;
}

//
// Media Query Density Parameter Values
//
// Used to shorten up the actual declaration of these types of queries
//
$retinaDensityWkit:  "#{dpr('-w')} #{$cl} #{$retinaRatio}";
$retinaDensityOpera: "#{dpr('-o')} #{$cl} #{calcOperaRatio($retinaRatio)}";
$retinaDensityMoz:   "#{dpr('-m')} #{$cl} #{$retinaRatio}";
$retinaDensityW3c:   "#{dpr('')} #{$cl} #{$retinaRatio}";

$retinaDensity: "only screen and (#{$retinaDensityWkit}), only screen and (#{$retinaDensityOpera}), only screen and (#{$retinaDensityMoz}), only screen and (#{$retinaDensityW3c}), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2ddpx)";

//

$hDpiDensityWkit:  "#{dpr('-w')} #{$cl} #{$hdpiRatio}";
$hDpiDensityOpera: "#{dpr('-o')} #{$cl} #{calcOperaRatio($hdpiRatio)}";
$hDpiDensityMoz:   "#{dpr('-m')} #{$cl} #{$hdpiRatio}";
$hDpiDensityW3c:   "#{dpr('')} #{$cl} #{$hdpiRatio}";

$hDpiDensity: "only screen and (#{$hDpiDensityWkit}), only screen and (#{$hDpiDensityOpera}), only screen and (#{$hDpiDensityMoz}), only screen and (#{$hDpiDensityW3c})";

//

$mDpiDensityWkit:  "#{dpr('-w')} #{$cl} #{$mdpiRatio}";
$mDpiDensityOpera: "#{dpr('-o')} #{$cl} #{calcOperaRatio($mdpiRatio)}";
$mDpiDensityMoz:   "#{dpr('-m')} #{$cl} #{$mdpiRatio}";
$mDpiDensityW3c:   "#{dpr('')} #{$cl} #{$mdpiRatio}";

$mDpiDensity: "only screen and (#{$mDpiDensityWkit}), only screen and (#{$mDpiDensityOpera}), only screen and (#{$mDpiDensityMoz}), only screen and (#{$mDpiDensityW3c})";

//
// Media Query Device Profile Params
//
// Used to shorten up the actual declaration of these types of queries
//
$phoneLandscapeSize: "only screen and (max-width #{$cl} #{$phoneLandscape})";
$phoneLandscapeRange: "only screen and (min-width #{$cl} #{$iPhoneMinDW + 1}) and (orientation #{$cl} landscape)";
$phonePortraitRange: "only screen and (min-width #{$cl} #{$iPhoneMinDW}) and (orientation #{$cl} portrait)";
$tabletPortraitSize: "only screen and (max-width #{$cl} #{$tabletPortrait})";
$iPhoneSize: "only screen and (min-device-width #{$cl} #{$iPhoneMinDW}) and (max-device-width #{$cl} #{$iPhoneMaxDW})";
$nexus7Size: "only screen and (min-device-width #{$cl} #{$nex7MinDW}) and (max-device-width #{$cl} #{$nex7MaxDW})";
$nexus7SizeVP: "only screen and (min-width #{$cl} #{$nex7MinDW})";
$iPadSize: "only screen and (min-device-width #{$cl} #{$iPadMinDW}) and (max-device-width #{$cl} #{$iPadMaxDW})";

$smartPhoneSize: "only screen and (max-device-width #{$cl} #{$smartPhoneMinDW})";

$smallDesktopSize: "(min-width #{$cl} #{$smallDesktop})";
$largeDesktopSize: "(min-width #{$cl} #{$largeDesktop})";
